	<div id="sidebar" style="display:none">
<div class="tools">
	</div>
	<div class="sidebar_title">Project</div>
	<div class="process_link<%= curr_page == 'info' ? " current" : "" %>"><span><%= link_to "New Project", new_project_path %></span></div>
	<div class="process_link<%= curr_page == 'extforms' ? " current" : "" %> disabled"><span>Extraction Forms</span></div>
	<div class="process_link<%= curr_page == 'manage' ? " current" : "" %> disabled"><span>Manage Users</span></div>
	<div class="process_link<%= curr_page == 'studies' ? " current" : "" %> disabled"><span>Study List</span></div>
	<div class="process_link<%= curr_page == 'preview' ? " current" : "" %> disabled"><span>Save and Review</span></div>
	<div class="process_link<%= curr_page == 'publish' ? " current" : "" %> disabled"><span>Publish Externally</span></div>
	
	
	
	</div>