<% unless @project.id.nil? %>

	<div id="sidebar">
<div class="tools">
		<%= link_to image_tag("Printer.png") + " Print Page", "#", :onclick => "javascript:window.print()" %><br/>
	<%= link_to image_tag("Layout_header.png") + ' Create PDF', project_path(params[:project_id]) + "/index_pdf", :target => "new" %><br/>
<div class="pdf_plugin_link"><%= link_to "download PDF plugin", "https://get.adobe.com/reader/", :target => "new" %><br/> To save as HTML, click File then Save Page As in your web browser.</div><br/>
</div>
<% unless current_user.nil? %>	
<% if User.current_user_has_project_edit_privilege(@project.id, current_user) %>
	
	<div class="sidebar_title">Project</div>
	<div class="process_link<%= curr_page == 'info' ? " current" : "" %>"><span><%= link_to "Project Information", edit_project_path(@project),:class=>"form_link" %></span></div>
	<div class="process_link<%= curr_page == 'extforms' ? " current" : "" %>"><span><%= link_to "Extraction Forms", project_extraction_forms_path(@project),:class=>"form_link" %></span></div>
	<div class="process_link<%= curr_page == 'manage' ? " current" : "" %>"><span><%= link_to "Manage Users", project_path(@project) + "/manage",:class=>"form_link" %></span></div>
	<div class="process_link<%= curr_page == 'studies' ? " current" : "" %>"><span><%= link_to "Study List", project_studies_path(@project), :class=>"form_link"%></span></div>
	<div class="process_link<%= curr_page == 'preview' ? " current" : "" %>"><span><%= link_to "Save and Review", project_path(@project), :class=>"form_link" %></span></div>
	<div class="process_link<%= curr_page == 'publish' ? " current" : "" %>"><span><%= link_to "Publish Externally", project_path(@project) + "/publish", :class=>"form_link" %></span></div>

<% else %>

	<div class="sidebar_title">Project</div>
	<% if User.current_user_has_study_edit_privilege(@project.id, current_user) %>
		<div class="process_link<%= curr_page == 'studies' ? " current" : "" %>"><span><%= link_to "Add Studies", project_studies_path(@project), :class=>"form_link" %></span></div>
	<% end %>
	<div class="process_link<%= curr_page == 'preview' ? " current" : "" %>"><span><%= link_to "View Project", project_path(@project), :class=>"form_link" %></span></div>

<% end %>
<% end %> <%# end unless current_user.nil? %>

	</div>

<% end %>

