<% if defined?(current_user) && !current_user.nil? %>
<% show_both = User.current_user_is_collaborator(project_id,current_user) %>
<% else %>
<% show_both = false %>
<% end %>

<ul id="comments_section_<%= section_name.to_s %>_id_<%= section_id.to_s %>_field_<%= field_name %>_study_<%= study_id.to_s %>_project_<%= project_id.to_s %>" class="comment_open_menu">
	<li style='display:inline;'>
		 <span>
			<%= image_tag "Comment.png", :alt => "Comments" %> Comments (<div style="display:inline" id="comments_number_<%= section_name.to_s %>_id_<%= section_id.to_s %>_field_<%= field_name %>_study_<%= study_id.to_s %>_project_<%= project_id.to_s %>"><%= Comment.get_number_of_comments(section_name, section_id, field_name, study_id, project_id, show_both) %></div>) |
		</span>
		<span>
		<span class="flags_link_<%= section_name.to_s %>_id_<%= section_id.to_s %>_field_<%= field_name %>_study_<%= study_id.to_s %>_project_<%= project_id.to_s %>">
		<% if Comment.get_number_of_flags(section_name, section_id, field_name, study_id, project_id, show_both) > 0 %>
			<%= image_tag "Flag_red.png", :alt => "This section has flags" %> Flags (<div style="display:inline" id="flags_number_<%= section_name.to_s %>_id_<%= section_id.to_s %>_field_<%= field_name %>_study_<%= study_id.to_s %>_project_<%= project_id.to_s %>"><%= Comment.get_number_of_flags(section_name, section_id, field_name, study_id, project_id, show_both) %></div>) |
		<% end %>
		</span>
	</li>
	<li id="comments_li_<%= section_name.to_s %>_id_<%= section_id.to_s %>_field_<%= field_name %>_study_<%= study_id.to_s %>_project_<%= project_id.to_s %>" class="open_comments_link" style='display:inline;'>
		<span>
		Post/View
		</span>
	</li>
</ul>

