<table class="list_table" id="extraction_form_completed_table" summary="extraction form completed table">
  <tr>
    <th scope='col'>Title</th>
    <th scope='col'>Created by</th>
    <th scope='col'>Key Questions Addressed</th>
    <th scope='col'>Form Notes</th>
  </tr>
  <% i=0 %>
  <% unless @extraction_forms.empty? %>
    <% @extraction_forms.each do |extraction_form| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td scope='row'>
          <a href="/projects/<%= @project.id %>/extraction_forms/<%= extraction_form.id %>" target="_blank" title="Preview Extraction Form: <%= extraction_form.title %>"><%= extraction_form.title %></a>
          </td>
        <td><%= User.get_name(extraction_form.creator_id) %></td>
        <td><%= ExtractionForm.get_kqs_covered(extraction_form.id) %></td>
        <td><%= extraction_form.notes %></td>
      </tr>

    <% end %>
  <% else %>
    <tr><td colspan=4 scope='row'><em>There are currently no extraction forms entered for this review.</em></td></tr>
  <% end%>
</table>

<div id="preview_ef_div"></div>
