<% if !quality_dimension_extraction_form_fields.nil? && quality_dimension_extraction_form_fields.length > 0 %>


<table class="list_table" id="study_quality_dimensions_table_<%= extraction_form.id.to_s %>" summary="study quality dimensions table extraction form #<%= extraction_form.id.to_s %>">
<thead>
<tr>
<th>Dimension</th>
<th>Value</th>
<th>Notes</th>
<th>Comments</th>
</tr></thead>

<%# ------------------- LISTING TEMPLATE FIELDS --------------------- %>

<% if !quality_dimension_extraction_form_fields.nil? && quality_dimension_extraction_form_fields.length > 0 %>
<% for qa in quality_dimension_extraction_form_fields %>
<tr class="<%= cycle("even", "odd") %>" id='<%= 'quality_aspect_' + qa.id.to_s %>'>

<td><%= qa.title %></td>

<% tmpl_id = qa.extraction_form_id %>
<% val = QualityDimensionDataPoint.get_data_point(qa, study.id, "value") %>
<td><%= val %></td>

<% val = QualityDimensionDataPoint.get_data_point(qa, study.id, "notes") %>
<td>
<%= val %>
</td>

<td class="comment_td">
	<%= render :partial => "comments/field_comments", :locals => {:section_name => "qualitydimensions", :section_id => qa.id, :field_name => "qualitydimensions", :study_id => study.id, :project_id => project.id} %>		
</td>
</tr>
<% end %>
<% end %>


</table>
<% else %>
	No quality dimensions were specified.
<% end %>