<%
    # Get and set bread crumb to current page
    urlhistory = session[:urlhistory]
    if urlhistory.nil?
        urlhistory = Breadcrumb.new
    end
    urlhistory.setCurrentPage("Filter Results","Filter Results","/search/filter")
    session[:urlhistory] = urlhistory
%>
<div id='left_column'>
</div>
<div id='content' tabindex=200>
<%= render 'filters' %>
<%
    resultset = session[:search_results]
    if !resultset.nil? &&
        ((!resultset["projects"].nil? && (resultset["projects"].size > 0)) ||
         (!resultset["publications"].nil? && (resultset["publications"].size > 0)))
        filtgroup = params[:filtergroup]
        filtname = params[:filtername]
        filtvalue = params[:filtervalue]
        
        filt_categories = resultset[filtgroup]
        filt_list = filt_categories[filtname]
        idx_list = filt_list[filtvalue]
        
        if filtgroup == "projects.categories"
%>
<script>
  $(document).ready(function() {
      var accOpts = {
          active: false,
          fillSpace: false,
          collapsible: true
      }
      $("#filt_accordion").accordion(accOpts);
  });
</script>
<h2>Selected SR-Level Results - <%= filtvalue %></h2><br/>
<div id="filt_accordion">
<%
            projects = resultset["projects"]
            idx_list.each do |idx|
                projrec = projects[idx]
                hitscore = projrec[0]
                proj = projrec[1] 
                qtext = projrec[2] 
                study = projrec[3] 
                publist = projrec[4] 
                matchloc = projrec[5] 
                userinfo = projrec[6] 
                
                header_text = idx.to_s+". Project: "+proj.title
                
                
                proj_info = ""
                if proj.funding_source.nil? ||
                   proj.funding_source.length == 0
                    proj_info = proj_info + "<i><b>Funded by</b> na</i>"
                else
                    proj_info = proj_info + "<i><b>Funded by</b> "+proj.funding_source+"</i>"
                end
                if proj.is_public?
                    proj_info = proj_info + ", <b>Published</b> "+proj.updated_at.strftime("%b/%Y")
                else
                    proj_info = proj_info + ", <b>Created</b> "+proj.created_at.strftime("%b/%Y")
                end
%>
    <h3><a href="#" class="heading"><div id="search_project_title"><%= raw header_text %></div>
    <%= raw proj_info %><br/>
    [Match found in <%= matchloc %> - "<%= raw qtext %>"]</a></h3> 
    <div id="advsearch_project_<%= idx %>">
    <%= link_to image_tag('/images/Folder_table.png'), '/projects/'+proj.id.to_s %><B>Description:</B> <%= proj.description %><br/>
<%              if !userinfo.nil? %>
    <br/>
    <b>Created By: </b><%= userinfo.lname %>, <b>Organization: </b><%= userinfo.organization %>, <b>Create Date: </b><%= proj.created_at %>, <b>Published: </b><%= proj.is_public.to_s.gsub("true","Yes").gsub("false","No") %>
<%              end %>
<%              if !publist.nil? && publist.length > 0 %>
    <br/>&nbsp;
    <br/>&nbsp;
<%
                    if publist.length > 1
%>
    <b><%= publist.length %> Primary Publications</b><br/>
<%
                    else
%>
    <b>Primary Publication</b><br/>
<%
                    end
%>
    <table id='results_table' name='results_table' class="list_table" summary="systematic review search results table">
        <th>PubMed ID</th>
        <th>Title</th>
        <th>Author(s)</th>
        <th>Year</th>
        <th>Journal</th>
<%                  for pub in publist %>
        <tr class="<%= cycle("even", "odd") %>">	
            <td><%= pub.pmid %></td>
            <td><%= pub.title %></td>
            <td><%= pub.author %></td>
            <td><%= pub.year %></td>
            <td><%= pub.journal %></td>
        </tr>
<%                  end %>
    </table>
<%              end %>
    </div>
<% 
            end    
%>
</div>
<% 
        elsif filtgroup == "publications.categories"
%>
<script>
  $(document).ready(function() {
      var accOpts = {
          active: false,
          fillSpace: false,
          collapsible: true
      }
      $("#filtpub_accordion").accordion(accOpts);
  });
</script>
<h2>Selected Study-Level Results - <%= filtvalue %></h2><br/>
<div id="filtpub_accordion">
<%
            projects = resultset["publications"]
            idx_list.each do |idx|
                projrec = projects[idx]
                hitscore = projrec[0]
                proj = projrec[1] 
                qtext = projrec[2] 
                study = projrec[3] 
                publist = projrec[4] 
                matchloc = projrec[5] 
                userinfo = projrec[6] 
                # Pick up array of associated projects if available
                assocprjs = nil
                if projrec.length > 7
                    assocprjs = projrec[7] 
                end
                pub = publist[0] 
                header_txt = idx.to_s+". "
                if pub.pmid.nil?
                    header_txt = header_txt + "[<b>PubMId:</b> na]"
                else
                    header_txt = header_txt + "[<b>PubMId:</b> "+pub.pmid+"]"
                end            
                if !pub.author.nil?
                    if pub.author.length > 10
                        header_txt = header_txt + " <i>"+pub.author[0..10]+"...et al</i>"
                    else
                        header_txt = header_txt + " <i>"+pub.author+"</i>"
                    end
                end            
                if pub.title.length > 70
                    header_txt = header_txt + ", <b>"+pub.title[0..70]+"...</b>"
                else
                    header_txt = header_txt + ", <b>"+pub.title+"</b>"
                end
                publication_txt = ""
                if pub.journal.nil?
                    publication_txt = publication_txt + "<i>No Journal info</i>"
                else
                    publication_txt = publication_txt + "<i>"+pub.journal+"</i>"
                end
                if pub.volume.nil?
                    publication_txt = publication_txt + ",Vol"
                else
                    publication_txt = publication_txt + ",Vol "+pub.volume
                end
                if pub.issue.nil?
                    publication_txt = publication_txt + ",Issue"
                else
                    publication_txt = publication_txt + ", "+pub.issue
                end
                publication_txt = publication_txt + ", "+pub.year

                proj_list = " "
                if !assocprjs.nil?
                    if assocprjs.length == 1
                        proj_list = proj_list + "<b>Associated Project:</b> "
                    else 
                        proj_list = proj_list + "<b>Associated Projects:</b> "
                    end
                    n = 0
                    assocprjs.each do |aproj|
                        prj = aproj[0]
                        userinfo = aproj[1]
                        if n > 0
                            proj_list = proj_list + ", "
                        end    
                        proj_list = proj_list + prj.title+" (<i>"+prj.created_at.year.to_s+"</i>)"
                    end
                end
%>
    <h3><a href="#" class="heading"><div id="search_project_title"><%= raw header_txt %></div>
    <%= raw publication_txt %><br/>
    [Match found in <%= matchloc %> = "<%= raw qtext %>"] <%= raw proj_list %></a> </h3> 
    <div id="advsearch_pub_<%= idx %>">
    <%= link_to image_tag('/images/Folder_table.png'), '/projects/'+proj.id.to_s+'/studies/'+study.id.to_s %>&nbsp;<%= pub.title %>
    <br/>
    <b>PubMed ID: </b><%= pub.pmid %><br/>
    <b>Authors: </b><%= pub.author %><br/>
    <b>Year: </b><%= pub.year %><br/>
    <b>Country: </b><%= pub.country %><br/>
<%              if defined?(current_user) && !current_user.nil? %>
    <i>[Coming soon - copy study to another project] </i><%= link_to image_tag('/images/Note_go.png'), '#' %><br/>
<%
                end
                if !assocprjs.nil?
                    if assocprjs.length == 1
                        prj = assocprjs[0][0]
                        userinfo = assocprjs[0][1]
%>
    <br/>
    <div id="search_project_title2"><b>Associated Project: </b><%= proj.title %></div>
    <%= link_to image_tag('/images/Folder_table.png'), '/projects/'+proj.id.to_s %><B>Description:</B> <%= proj.description %>
    <br/>
    <b>Created By: </b><%= userinfo.lname %>, <b>Organization: </b><%= userinfo.organization %>, <b>Create Date: </b><%= proj.created_at.strftime("%b %d, %Y %I:%M %p") %>, <b>Published: </b><%= proj.is_public.to_s.gsub("true","Yes").gsub("false","No") %>
<%       
                    else
%>
    <b><%= assocprjs.length %>Associated Projects: </b><br/>
<%
                        assocprjs.each do |aproj|
                            prj = aproj[0]
                            userinfo = aproj[1]
%>
    <br/><div id="search_project_title2"><%= prj.title %></div>
    <%= prj.description %>
    <br/>
    <b>Created By: </b><%= userinfo.lname %>, <b>Organization: </b><%= userinfo.organization %>, <b>Create Date: </b><%= prj.created_at %>, <b>Published: </b><%= prj.is_public.to_s.gsub("true","Yes").gsub("false","No") %>
<%
                        end
                    end
                end
%>
</div>
<%
            end
        else
%>
Category <%= filt_categories %> not handled
<%
        end
%>
</div>
<%
    end
%>
</div>
