<table class="form_table" id="pp_form_identifier_table_<%= num.to_s %>" summary="primary publication form identifiers table">
    <tbody>
    <tr>
        <td>
            <label for="Identifier">Identifier Number:</label>
		</td>
        <td>
		    <%= hidden_field :id, num, :value => one_ppi.id, :class => "id_field" %>
            <%= text_field :number, num, :value => one_ppi.number, :class=>"inline-field editable_field number_field", :tabindex => 7, :title => "number" %>
        </td>
        <td rowspan="2" class="label" padding="6">
            <div style="height:6px"></div>
            <div class="admin_functions actions" style="margin-left: 5px; width: 180px;">
                <%= link_to "Remove This Identifier", {}, {:class => "remove_ppi_button", :id => "remove_ppi_button_" + num.to_s} %><br/>
            </div>
		</td>
    </tr>
    <tr>
        <td valign="top">
            <div class="identifier_field_other inline">
                <label for="Number Type">Number Type: </label>
            </div>
		</td>
        <td>
            <% @id_types = [["Choose Identifier Type", "Choose Identifier Type"], ["Pubmed", "Pubmed"], ["Cochrane", "Cochrane"], ["NCT", "NCT"], ["ClinicalTrials\.gov", "ClinicalTrials\.gov"], ["Other", "Other"]]%>
            <% @id_types_sm = ["Choose Identifier Type", "Pubmed", "Cochrane", "NCT", "ClinicalTrials\.gov"] %>		
            <%= select :number_type, num, options_for_select(@id_types), {}, {:value => one_ppi.number_type, :class => "has_other editable_field number_type_field", :tabindex => 8, :title => "number_type"} %>
		</td>
        <td>
        </td>
    </tr>
	<tr height="15"></tr>
    </tbody>
</table>

		
		<% arr = @id_types_sm %>
		<% if !arr.include?(one_ppi.number_type) %>
		<script type="text/javascript">
			var field_id = "primary_publication_identifiers_attributes_<%= num.to_s %>_number_type";
			$.ajax({url: "/application/show_other_filled",
						type: "POST",
						data: {
							"field_name": "primary_publication_identifiers_attributes[<%=num.to_s %>][number_type]", 						
							"field_id":field_id, 
							"value": "<%= one_ppi.number_type %>"
						}
					});
		</script>
		<% end %>
		
		<script>
$(".remove_ppi_button").bind("click", function(event)
{
	event.preventDefault();
	var id = $(this).attr('id');
	var id_split = id.split("_");
	var id_num = id_split[3];
	$.ajax({
	  url: 'primary_publication_numbers/destroy',
	  type: "POST",
	  data: { id: id_num,
	  primary_publication_id: <%= primary_publication.id.to_s %>}
	});
});


  
</script>