<div id='q_builder_form'>
<div id="validation_message_dd">
<%= render "layouts/modal_info_messages" %>
</div>

<%= form_for(@baseline_characteristic, :remote=>true) do |f| %>
	<%= hidden_field_tag "page_name","baseline_characteristic" %>
	<%= hidden_field_tag "baseline_characteristic[extraction_form_id]", @extraction_form.id %>
	<%= hidden_field_tag "extraction_form_id", @extraction_form.id %>
	<%# start form_content DIV %>
<div class="form_content">
	  This form allows you to generate a new extraction form item for baseline characteristics, 
		along with an optional set of suggested responses. Responses can be designated as drop down lists, radio or check boxes, or text fields.
		<div class='hr'></div><br/><br/>
		<table class='form_table tab-list-table'>

		<%# start question text %>
			<tr>
				<td class='label top'>
					<label for="Question Text">Question text:</label> 
				</td>
				<td class='input top'>
					<%= f.text_area :question, :size=>"50x2", :class=> "editable_field", :title => "question text" %>
				</td>
			</tr>
			
			<tr>
				<td class='label'>
					<label for="Instructions for Extractor">Instructions for Extractor (optional):</label> 
				</td>
				<td class='input'>
					<%= f.text_area :instruction, :size=>"50x2", :class=>"editable_field", :title => "instructions for data extractor" %>
				</td>
			</tr>
			
			
		
		<%# end question name field %>
			<tr>
				<td class='label'>
					<label for="Please choose an answer type">Please choose a question type:</label>
				</td>		
				<td class='input'>
					<div class='field' id='type_selector_baseline_characteristic'> <%# start field type %>
			
						<% options = [["Text (user will enter their own value)","text"],["Select (choose from a dropdown list, with an 'Other' option)","select"],["Radio Button (select one of the defined options)","radio"],["Check Box (choose more than one answer)","checkbox"], ["Yes/No (quickly construct a Yes/No radio button)","yesno"]] %>
						<%= f.select :field_type, options_for_select=options, {}, :class=> "editable_field", :title => "question type" %>
					</div> <%# end field type %>
					<div class='field' id='subquestion_div_baseline_characteristic'> <%# start subquestion div %>
    				
    				</div> <%# end subquestion div%>
				</td>
			</tr>
		</table>
		<br clear='all'><br/><br/><br/><br/>
		<div class='popup-footer actions'>
			<button type='submit' class='saving' data-disable-with="<%= ajax_wait_msg %>">
				<%= image_tag "Add.png", :alt => "Add"  %>Save
			</button>
			<button class="negative" id="close_form_btn">
				<%= image_tag "Cancel.png", :alt => "Cancel" %>Cancel
			</button>
		</div>
		
</div>
<% end %>

<script type='text/javascript'>
// <!--
	function bac_init(){
		  try{
		    checkLoaded(); // HOLD OFF UNTIL THE LAST ELEMENT IS LOADED
		    prepareBAC();
		  } catch( err ) {
		    setTimeout('bac_init()', 200);
		  }
		}

	function checkLoaded(){
	    if ($('#close_form_btn').length == 0) $jquery.error( 'not ready' );
	}

	function prepareBAC(){
		$("#baseline_characteristic_field_type").change(function() {
	    	$.ajax({
	    		url: 'question_builder/show_input_options',
	    		data: {"selected":this.value,"field_name":this.name,"field_id":this.id,"page_name":"baseline_characteristic" }
	    	});	
	  	});
		
		$("#close_form_btn").bind("click", function(event){
			event.preventDefault();
			$('#baseline_characteristic_fields_entry').dialog('close');
		});	
	}
	bac_init();
// -->	
</script>


</div>