<div id="validation_message_dim">
<%= render "layouts/modal_info_messages" %>
</div>

	<%= form_for(@quality_dimension_field, :remote=> true, :update => "quality_dimension_fields_table", :html => {:id => "quality_dimension_field_form"}) do |f| %>

			
	<div class="form_content">

		<%# render :inline => attach_listener_for_other("quality_dimension_field_title", "medium") %>
	  	<table class='form_table'>
	  		<% form_type = @extraction_form.is_diagnostic == true ? "diagnostic" : "RCT" %>
	  		<%# @quality_dimension_list = QualityDimensionField.get_dimension_list(form_type) %>
			<tr>
				<td class='label top'>
					<label for="Dimension Name">Dimension Name:</label>
				</td>
				<td class='input top'>
					<% if !@editing %>
						<div id='default_selector'>
						<%= render :inline => default_quality_dimensions_dropdown({:include_custom=>true, :desired_id=>'quality_dimension_field_selected_default', :desired_name => 'quality_dimension_field[selected_default]'}) %>
						<span id='custom_text_span'></span>
						</div>
					<% else %>
						<textarea id='quality_dimension_field_custom' name='quality_dimension_field[custom]'><%= @quality_dimension_field.title %></textarea>
					<% end %>
					<!-- don't forget about if @editing -->
				</td>
			</tr>
			<tr>
				<% display = @editing ? "block" : "none" %>
				<td class='label'>
				    <label for="Field Notes" style="display:<%=display %>;" id='notes_label'>Instructions:</label>
				</td>
				<td class='input'>
		    		<%= f.text_area :field_notes, :rows => 4, :cols => 40, :class => "editable_field", :title => "field notes", :style=>"display:#{display};'"%>
		    	</td>
		    </tr>
		</table>
  		<%= f.hidden_field :extraction_form_id, :value => @extraction_form.id %>
  		<br/><br/><br/><br/>
	  <div class="popup-footer actions">
			<% unless @editing %>
					<button type="submit" class="positive" data-disable-with="<%= ajax_wait_msg %>" >
						<%= image_tag "Add.png", :alt => "Add" %>Save
					</button>
			<% else %>
			  <button type="submit" class="positive" data-disable-with="<%= ajax_wait_msg %>" >
					<%= image_tag "Accept.png", :alt => "Accept" %>Save Edits
				</button>
			<% end %>
				<button class="negative" id="close_dim_btn">
						<%= image_tag "Cancel.png", :alt => "Cancel" %>Cancel
				</button>

	  </div>
 </div>
<% end %>

<script type="text/javascript">
$("#quality_dimension_field_selected_default").on('change',function(){
	event.preventDefault();
	if($(this).val() == 'custom'){
		$("#custom_text_span").html("<br/><textarea id='quality_dimension_field_custom' name='quality_dimension_field[custom]'><%= @quality_dimension_field.title %></textarea>");
		$("#notes_label").css("display","block");
		$("#quality_dimension_field_field_notes").css("display","block");

	}else{
		$("#custom_text_span").html("");
		$("#notes_label").css("display","none");
		$("#quality_dimension_field_field_notes").css("display","none");
	}
});

$("#close_dim_btn").bind("click", function(event)
{
event.preventDefault();
$('#new_qd_entry').dialog('close');
});

</script>