<!--################################################################ -->
<!-- THE AHRQ FOOTER 		                               		     -->
<!--#################################################################-->
<!-- Footer graphic 1.3-->
<div id="ftrimgs">
	<span><%= image_tag "ahrq/bottom_ahrq_1.jpg", {:class=>"ftrimglft", :width=>125, :alt=>"AHRQ"} %><%= image_tag "ahrq/space.gif", {:class=>"ftrimgctr", :alt=>""} %><%= image_tag "ahrq/bottom_ahrq_2.gif", {:class=>"ftrimgrt", :alt=>"Advancing Excellence in Health Care", :width=>310, :height=>34} %></span>
</div>
<!-- Footer links section -->
<div id="banner_Footer3"><a href="/">AHRQ  Home</a> | <a href="https://info.ahrq.gov/cgi-bin/ahrq.cfg/php/enduser/std_alp.php" class="footer_navlink">Questions?</a> | <a href="http://www.ahrq.gov/info/customer.htm" class="footer_navlink">Contact AHRQ</a> | <a href="http://www.ahrq.gov/sitemap.htm" class="footer_navlink">Site Map</a> | <a href="http://www.ahrq.gov/accessibility.htm" class="footer_navlink">Accessibility</a> | <a href="http://www.ahrq.gov/news/privacy.htm" class="footer_navlink">Privacy
 Policy</a> | <a href="http://www.ahrq.gov/news/foia.htm" class="footer_navlink">Freedom of Information Act</a> | <a href="http://www.ahrq.gov/news/disclaim.htm" class="footer_navlink">Disclaimers</a> | <a href="http://www.hhs.gov/open/recordsandreports/plainwritingact/index.html"  class="footer_navlink">Plain Writing Act</a><br/>
 <a href="http://www.hhs.gov/" class="footer_navlink">U.S. Department of Health &amp; Human Services</a> | <a href="http://www.whitehouse.gov/" class="footer_navlink">The White House</a> | <a href="http://www.usa.gov/" class="footer_navlink">USA.gov: The U.S. Government's Official Web Portal</a>
</div>
<div id="banner_Footeraddress">Agency for Healthcare Research and Quality <%= image_tag "ahrq/bottom_dot.gif", {:alt=>""} %> 540 Gaither Road Rockville, MD 20850 <%= image_tag "ahrq/bottom_dot.gif", {:alt=>""} %> Telephone: (301) 427-1364</div>
		<br/>
  </div></div>
<!-- End of Footer links section -->