<table class="list_table" style='border:none;'>
<%
    max_2_display = @mostviewed_reports.size()
    if max_2_display > 3
        max_2_display = 3
    end
    for idx in (0..max_2_display - 1)
        access_state = "Public Report"
        access_label = "Complete"
        num_studies = @mostviewed_reports.getNumStudies(idx)
        num_key_qs = @mostviewed_reports.getNumKeyQuestions(idx)
        num_ext_forms = @mostviewed_reports.getNumExtractionForms(idx)
        report_date = @mostviewed_reports.getDate(idx)
        report_desc = @mostviewed_reports.getDescription(idx)
%>
    <tr>
        <td class='data' style='position:relative;'>
            <span style='float:left;'>
               <h2><%= @mostviewed_reports.getTitle(idx) %></h2><br/>
            </span>
            <span style='float:right;position:relative; right:30px; top:0px;' class='status'>
                <%= access_state %> 
                <span class="<%= access_label.downcase %>"><%= access_label %></span>
            </span>
            <br clear='all'>
            <span class='bold'>Statistics:</span> <%= pluralize(num_studies, 'Study') %>,
            <%= pluralize(num_key_qs, 'Key Question') %>,
            <%= pluralize(num_ext_forms, 'Extraction Form') %>,    
            <%# Project.get_status_string(project.id) %><br/>
            <span class='bold'>Date Created: </span><%= report_date.strftime("%b %d, %Y %I:%M%p") %><br/>
            <span class='bold'>Description: </span><%= report_desc.empty? ? "None Provided" : report_desc %>
        </td>
    </tr>
<%
    end
%>
</table>
