<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<title>SRDR HOME DESIGN</title>
	
	<%= stylesheet_link_tag "ahrqstyle_new" %>
	<%= stylesheet_link_tag "structure" %>
	<!--[if lt IE 7]>
		<link rel="stylesheet" type="text/css" href="style-ie.css" />
	<![endif]-->
</head>

<body>

	<div id="page-wrap">	
		<!--################################################################ -->
		<!-- THE AHRQ BANNER MARKUP                                  		 -->
		<!--#################################################################-->	
		<div id="ahrqbanner"> 
			<div class="hhsportion"> 
				<a class="skipnav" href="#main_content">Skip Navigation</a>
				<a href="https://www.hhs.gov/" title="U.S. Department of Health and Human Services">
					<%= image_tag "ahrq/hhs_banner.gif", :alt=>"U.S. Department of Health and Human Services" %>
				</a>
				<a href="https://www.hhs.gov/" title="www.hhs.gov/" class="hhsright">
					<%= image_tag "ahrq/hhs_link.gif", :alt=>"www.hhs.gov/" %>
				</a>
			</div>
				
			<div class="ahrqportion">
				<a href="https://www.ahrq.gov/" title="Agency for Healthcare Research Quality">
					<%= image_tag "ahrq/ahrq_banner.gif", :alt=>"Agency for Healthcare Research Quality"%>
				</a>
				<form name="searchForm" method="get" action="https://search.ahrq.gov/search" id="banner_searchform"> 
					<label for="search" style="z-index:-1;position:relative;margin-right:-65px; font-size:0px;">Search</label>
					<input name="q" type="text" value=" Search AHRQ" size="11" onfocus="this.value='';" class="gotext" id="search" title="ahrq search" />
			        <input type="hidden" name="entqr" value="0" />
			        <input type="hidden" name="output" value="xml_no_dtd" />
			        <input type="hidden" name="proxystylesheet" value="AHRQ_GOV" />
			        <input type="hidden" name="client" value="AHRQ_GOV" />
		  	        <input type="hidden" name="site" value="default_collection" />
					<input src="/images/ahrq/topbn_gobutton.gif" class="gobtn" name="Submit" onclick="javascript:document.searchForm.submit();" type="image" alt="Go" />            		
				</form>
				<a href="/" class="ahrqright">www.ahrq.gov</a>
		</div> 
		
		<div class="ahrqlinks">
			<a href="/">AHRQ Home</a> | 
			<a href="https://info.ahrq.gov/cgi-bin/ahrq.cfg/php/enduser/std_alp.php">Questions?</a> | 
			<a href="https://www.ahrq.gov/info/customer.htm">Contact Us</a> | 
			<a href="https://www.ahrq.gov/sitemap.htm">Site Map</a> | 
			<a href="https://www.ahrq.gov/whatsnew.htm">What's New</a> | 
			<a href="/browse/">Browse</a> | 
			<a href="https://www.ahrq.gov/consumer/espanoix.htm">Información en español</a> | 
			<%= image_tag "ahrq/envelope1.jpg", :alt=>"", :style => "padding-left: 4px; padding-right: 3px; padding-bottom: 4px; vertical-align:middle" %> 
			<a href="https://subscriptions.ahrq.gov/service/multi_subscribe.html?code=USAHRQ">
				E-mail Updates
			</a>
		</div>
	 
		<div id="PrintBanner">
			<%= image_tag "ahrq/PrintBanner.gif", :alt=>"www.ahrq.gov/", :width=>"100%" %>
		</div>
	
		<br/>
			
		<div id="inside">
			<!--################################################################ -->
			<!-- SRDR BANNER MARKUP                                  		     -->
			<!--#################################################################-->
			<div id="header">
				<img src='images/homepage/top_corner_left.png' style='position:absolute; left:-26px;'/>
				<img src='images/homepage/top_corner_right.png' style='position:absolute; right:-26px;'/>
				
				<a href="#" style='position:absolute; left:0px; top:0px;'>
					<img src="images/homepage/top_header_left.png" alt="header"  />
				</a>
				<img src="images/homepage/top_header_right2.jpg" style='position:absolute; right:0px;'s>
				<div id="account-links" style='position: absolute; top: 10px; right: 15px;'>
					Logged in as admin | 
					<a href="#">Log Out</a> | 
					<a href="#">Register</a> | 
					<a href="#">Feedback</a> | 
					<a href="#">Help</a>
				</div>
				
			</div>
			<!--################################################################ -->
			<!-- THE MAIN LINKS BAR                                 		     -->
			<!--#################################################################-->
			<div id="horizontal-nav">
				<ul>
					<li><a href="#" id='current'>Home</a></li>
					<li><a href="#">My Projects</a></li>
					<li><a href="#">Published Projects</a></li>
				</ul>
				<a href='/adv_search' style='position:absolute; right:15px; top: 5px;'>Advanced Search</a>
			</div>
			<!--################################################################ -->
			<!-- THE BREADCRUMBS BAR                                 		     -->
			<!--#################################################################-->
			<!--
			<div id="breadcrumbs">
				Where the breadcrumbs will go.
			</div>
			-->
			<!--################################################################ -->
			<!-- THE HOMEPAGE COLLAGE AND LOGIN SECTION                 	     -->
			<!--#################################################################-->
			
			<div id="homepage-collage-div">
				<img src="images/homepage/hero_txt_welcome.gif" width=359 height=69 style='position:absolute; top:20px; left:20px;z-index:100'/>
				<img src="images/homepage/homepage_collage.jpg" style="position:absolute;right:0px;top:0px;height:100%;z-index:99"/>
				<div id="welcome-text" >
					The Systematic Review Data Repository (SRDR) is a powerful and easy-to-use tool for the extraction and management of data for systematic review or meta-analysis. It is also an open and searchable archive of systematic reviews and their data.
				</div>
				<div id='login-window'>
					<div id='login-div'>
						For access to additional features, simply register for an account.<br/><br/><br/>
						<div id='login_form_div'>
							Registered users, log in below:<br/><br/>
							<input type='text' name='username' style='width:90%' value='Username'/><br/><br/>
							<input type='text' name='username' style='width:90%' value='Password'/>
							<br/><br/>
							<button type='submit'>Submit</button>
						</div>
					</div>
				</div>
				<a href='#' style='position:absolute; bottom:10px; right:10px;'>Forgot Password?</a>
			</div>

			<!--################################################################ -->
			<!-- THE HOMEPAGE CONTENT SECTION  			              		     -->
			<!--#################################################################-->
			<div id='home-content'>
			<div id="home-left-panel">
				<p>Ii putamus mutationem wisi laoreet eros. Quinta processus saepius facer consequat fiant. Adipiscing ea possim vulputate quarta quam. Molestie dolor sed suscipit quis qui. Et feugait claritatem soluta est duis. Mutationem augue typi dynamicus dolore placerat. Lius typi dynamicus gothica per futurum.</p>

				<p>
				Litterarum vero at tincidunt adipiscing vel. Dolore quod in lectores littera iis. Dolor lobortis sequitur nobis per soluta. Dignissim fiant diam option facer decima. Facilisis est in erat ullamcorper eodem. Mirum veniam quam luptatum ut anteposuerit. Commodo luptatum qui parum humanitatis lobortis. Molestie feugiat hendrerit dolor nam sed. Insitam feugait te wisi doming quam. Nostrud formas in augue dolore sit. 
				</p>
				
				<p>
				Hendrerit lectorum et notare legentis nulla. Habent clari commodo claram mazim magna. Vulputate nihil Investigationes sequitur humanitatis claritatem. Assum exerci molestie nobis feugait eodem. Aliquam delenit cum sed me veniam. Nunc eodem facilisi iis iriure commodo. Tempor typi illum velit consuetudium zzril. Tation liber claritas minim iis nobis. Claritatem placerat delenit iusto iis facilisis. Veniam tempor dolore congue mazim esse. 
				</p>
				
				<p>
				In possim luptatum seacula est claram. Legere molestie quinta nibh erat ut. Vel feugait nostrud commodo esse delenit. Amet elit lectorum dolor vel blandit. Velit qui est tation legere at. Notare tincidunt te dynamicus in legere. Liber typi dynamicus legunt nulla est. Nunc option quod est formas legere. Dynamicus accumsan mutationem quinta in iis. Quis quam facilisis iusto eodem possim. 
				</p>
				
				<p>
				Ut in dignissim iriure dolore feugiat. Claritas ut non anteposuerit te vero. Et facit amet at vero sequitur. Eros exerci non et ut facilisis. Suscipit consectetuer accumsan quam nonummy illum. Ullamcorper ea legunt volutpat me consuetudium. Qui littera nonummy delenit modo eorum. Facilisi hendrerit et typi lorem non. Tempor doming in iriure facit eleifend. Ii magna consectetuer consuetudium qui adipiscing. 
				</p>
				

			</div>
	
			<div id="home-right-panel">
						
				<h2>Why is this layout "perfect"?</h2>
				<ul>
					<li>Works in all major browsers</li>
					<li><strong>Shrinks</strong> to 780px<br />This accomodates users with 800x600 resolution, with no horizontal scroll!</li>
					<li><strong>Grows</strong> to 1260px<br />This accomodates users with 1280x768 resolution and everything in between.</li>
					<li>This accomodates 90%+ of all internet users. You could easily make this layout grow larger, but be mindful of how line-length affects readability. Nobody wants to read a line of text 1980px long.</li>
					<li>The left sidebar is of "equal height" to the main content</li>
				</ul>
			
			</div>
			</div><br/>
			<div style="clear: both;"></div>
			
			<div id="footer">
				<!-- Footer graphic 1.3-->
				<div id="ftrimgs">
					<span><%= image_tag "ahrq/bottom_ahrq_1.jpg", {:class=>"ftrimglft", :width=>125, :alt=>"AHRQ"} %><%= image_tag "ahrq/space.gif", {:class=>"ftrimgctr", :alt=>""} %><%= image_tag "ahrq/bottom_ahrq_2.gif", {:class=>"ftrimgrt", :alt=>"Advancing Excellence in Health Care", :width=>310, :height=>34} %></span>
				</div>
				<!-- Footer links section -->
				<div id="banner_Footer3"><p> <a href="/">AHRQ  Home</a> | <a href="https://info.ahrq.gov/cgi-bin/ahrq.cfg/php/enduser/std_alp.php" class="footer_navlink">Questions?</a> | <a href="https://www.ahrq.gov/info/customer.htm" class="footer_navlink">Contact AHRQ</a> | <a href="https://www.ahrq.gov/sitemap.htm" class="footer_navlink">Site Map</a> | <a href="https://www.ahrq.gov/accessibility.htm" class="footer_navlink">Accessibility</a> | <a href="https://www.ahrq.gov/news/privacy.htm" class="footer_navlink">Privacy
				 Policy</a> | <a href="https://www.ahrq.gov/news/foia.htm" class="footer_navlink">Freedom of Information Act</a> | <a href="https://www.ahrq.gov/news/disclaim.htm" class="footer_navlink">Disclaimers</a> | <a href="https://www.hhs.gov/open/recordsandreports/plainwritingact/index.html"  class="footer_navlink">Plain Writing Act</a> <br />

				 <a href="https://www.hhs.gov/" class="footer_navlink">U.S. Department of Health &amp; Human Services</a> | <a href="https://www.whitehouse.gov/" class="footer_navlink">The White House</a> | <a href="https://www.usa.gov/" class="footer_navlink">USA.gov: The U.S. Government's Official Web Portal</a></p>
				</div>
				<div id="banner_Footeraddress"><p>Agency for Healthcare Research and Quality <%= image_tag "ahrq/bottom_dot.gif", {:alt=>""} %> 540 Gaither Road Rockville, MD 20850 <%= image_tag "ahrq/bottom_dot.gif", {:alt=>""} %> Telephone: (301) 427-1364</p></div>
						<br/>
				  </div></div>
				<!-- End of Footer links section -->
			</div>
		
		</div>
		
		<div style="clear: both;"></div>
	
	</div>

</body>

</html>
