<div style='padding-top:10px; float:left;'>
<h2>Frequently Asked Questions</h2><br/><br/>
<style type='text/css'>
.instructions{
    list-style-type: decimal;
    padding-left: 25px;
}
.lists{
    list-style-type: disc;
    padding-left: 25px;
}
</style>
<% general = [
    ["What is the Systematic Review Data Repository?","The Systematic Review Data Repository is a Web-based tool for data extraction and storage of systematic review data."],
    ["Who is responsible for the SRDR?","The SRDR was developed at the Brown University Evidence-based Practice Center at the Brown Center for Evidence-based Medicine in Providence, RI."],
    ["Who funds the SRDR?","The SRDR is funded by the Agency for Healthcare Research and Quality, a division of the U.S. Department of Health and Human Services. (<em>Contract No. HHSA 290‐2007‐10055‐I</em>)."],
    ["What problem does the SRDR intend to solve?","The intent of the SRDR is to provide the medical community with easy access to published systematic review data, as well as to ease the burden of data extraction and updating systematic reviews."],
    ["What can the SRDR do?","As of September 2011, the SRDR can facilitate data extraction and storage. Registered users can start new projects, create extraction forms, and extract data from relevant studies for storage and analysis. <br/><br/>Additional features of the SRDR system include:<ul class='lists'ƒ><li>User Management</li><li>Progress Reports</li><li>Data Comparison Tool</li><li>Study Assignment Tool</li><li>Data Export Tool</li><li>Report Builder Tool</li><li>Access to File Repository</li><li>Registry Search</li></ul> "],["What will the SRDR do in the future?", "Future versions of the SRDR will have a community-based system for data quality assurance. A wiki-like interface will allow users to comment on extracted data, point out errors, and request fixes or updates. This community-based curation process will improve reliability and make the SRDR one of the premier sources for medical information."],
    ["What kinds of review projects are supported by the SRDR?", "The SRDR is capable of supporting such projects as systematic reviews, evidence maps, reviews of diagnostic test performance, technology assessments, and technical briefs."],
    ["What registries are currently supported by the SRDR and how can I search them?", "SRDR currently supports the following registries: the Complementary and Alternative Medicine (CAM) Bibliography Registry, the OSHU Method Bibliography Registry, and the SRDR Public Primary Publications.<br><br>Clicking on the Registries tab on the SRDR homepage will direct you to the Registry Search Page. From this page, users can specify registry search parameters including: Title, Abstract, PubMed ID, Author, Year, or Journal."],
    ["Who can access the SRDR?","Anyone who has completed the appropriate training materials available on the Help and Training Section of the SRDR homepage may register for a user account in the SRDR System. "],
    ["Who can I contact if I have general or technical questions about SRDR?", "Any how-to or general SRDR questions may be directed to the SRDR Team at <a href='mailto:srdr@ahrq.hhs.gov'>SRDR@ahrq.hhs.gov</a> or by phone at (401) 863-6260 9:00 AM - 5:00 PM(EST), Monday to Friday, excluding holidays (http://brown.edu/about/administration/human-resources/policies/holidays). If your team is facing a deadline and requires assistance from the SRDR Team during a holiday, please let us know in advance and we will do our best to accommodate you. <br/><br/>For technical inquiries please contact Chris Parkin at <a href='mailto:christopher_parkin@brown.edu'>christopher_parkin@brown.edu</a> or Jens Jap at <a href='mailto:jens_jap@brown.edu'>jens_jap@brown.edu</a>."]
]%>

<% accounts = [
    ["What should I do if I've forgotten my username or password?","Your password may be retrieved by clicking on the <strong>[Forgot your password?]</strong> button of the user login screen. Be sure to use the email address associated with your SRDR account when retrieving your password."],
    ["How do I change the password associated with my SRDR user account?","To change the password associated with your SRDR user account. You must:<br/><br/>
    <ol class='instructions'>
        <li>From the SRDR homepage, log into your profile using your SRDR username and password.</li>
        <li>Once you are logged in, check that you are in the MySRDR tab.</li>
        <li>On the Navigation Menu at the left side of the screen, click the <strong>My Profile</strong> button under <strong>mySRDR  ACCOUNT</strong>.</li>
        <li>On the profile page, enter your current password into both the <strong>Password</strong> and <strong>Confirm Password</strong> data fields.</li>
        <li>Click the <strong>Submit</strong> button.</li>
        <li>On the User profile page, click the <strong>Edit Your Profile</strong> button.
        <li>On the Edit Your User Profile page, enter your new password, into both the <strong>Password</strong> and <strong>Confirm Password</strong> data fields.</li>
        <li>Click the <strong>Submit</strong> button.</li>
        <li>You will be returned to the User profile page where you will see the <strong>noticeAccount Updated!</strong> banner.</li>
        <li>To return to the MySRDR tab, click the <strong>MySRDR</strong> tab at the top of the screen.</li>
    </ol>"],
    ["How do I change the email address associated with my SRDR user account?","To change the password associated with your SRDR user account. You must:
    <ol class='instructions'>
        <li>From the SRDR homepage, log into your profile using your SRDR username and password.</li>
        <li>Once you are logged in, check that you are in the MySRDR tab.</li>
        <li>On the Navigation Menu at the left side of the screen, click the <strong>My Profile</strong> button under <strong>mySRDR  ACCOUNT</strong>.</li>
        <li>On the profile page, enter your current password into both the <strong>Password</strong> and <strong>Confirm Password</strong> data fields.</li>
        <li>Click the <strong>Submit</strong> button.</li>
        <li>On the User profile page, click the <strong>Edit Your Profile</strong> button.
        <li>On the Edit Your User Profile page, replace your current email address located in the <strong>Email</strong> data field with the new email address you would like to associate with your SRDR user account</li>
        <li> Again ennter your password into both the <strong>Password</strong> and <strong>Confirm Password</strong> data fields.</li>
        <li>Click the <strong>Submit</strong> button.</li>
        <li>You will be returned to the User profile page where you will see the <strong>noticeAccount Updated!</strong> banner.</li>
        <li>To return to the MySRDR tab, click the <strong>MySRDR</strong> tab at the top of the screen.</li>
    </ol>"],
    ["What are the different types of SRDR users? What level of access does each user type have?","By default, all SRDR users are initially registered as <strong>Public Commentators</strong>. While commentators cannot create or collaborate on systematic review projects, they do have the ability to view and comment on all public systematic review projects (projects only become publically viewable once the project lead has formally designated it as complete). They may also point out any data-entry errors in the data. <br/><br/>A <strong>Project Contributor</strong> has the ability to create and collaborate on systematic review projects within the system. Please contact SRDR system administrators to obtain a project contributor account. "],
    ["What should I expect after registering for a Public Commentator account from the SRDR Homepage?","After registering for a Public Commentator account on the SRDR homepage, you will receive an <strong>SRDR Registration Confirmation</strong> email. On the email, click the validation link to complete the activation of your public commentator account. You will then be able to log into the SRDR website using your account username and password."], 
    ["What should I expect after registering for a Project Contributor account from the SRDR Homepage?","After registering for a Project Contributor account on the SRDR homepage, you will receive an <strong>SRDR Invitation for Training and Registration Assistance</strong> email. Included in this email is a brief description of the online training that you will need to complete to activate your SRDR project contributor account and instructions for accessing the SRDR Help & Training page. This email also seeks to ascertain your intentions for using SRDR. Please answer all questions asked in the email to the best of your ability, as this will enable the SRDR support staff to better tailor the service they provide to you and your team. Finally, please include in your response, whether you (or your team) are interested in completing the online training to activate your SRDR project contributor accounts so that the SRDR support team might provide you with more specific instructions."],
    ["How do I obtain a Project Contributor account on the SRDR if my role in a systematic review project only involves data extraction?","If your role in an SRDR Project only involves extracting data from studies, you will need to register for an SRDR project contributor account and complete all steps of the Data Extraction Tutorial, below, before collaborating on the project.<br/><br/>Steps to complete the Data Extraction tutorial:
    <ol class='instructions'>
        <li>Please go to <a href='http://srdr.training.ahrq.gov/'>http://srdr.training.ahrq.gov/</a>.</li>
        <li>Please register to create your SRDR Training Site account.</li>
        <li>Please email the SRDR Support Team <a href='mailto:SRDR@AHRQ.HHS.gov'>SRDR@AHRQ.HHS.gov</a> the username of your SRDR Training account so that we may add you to the Data Extraction Training case.</li>
        <li>While you are waiting for email confirmation from the SRDR Support Team, Please go to the “Help & Training” page [<a href='http://srdr.training.ahrq.gov/help'>http://srdr.training.ahrq.gov/help</a>].</li>
        <li>Go to the third tab (<strong>Video Tutorials</strong>) and watch videos 1 & 3 (SRDR Overview and Project Initiation, and Add, View & Edit Study Data in the SRDR Site).</li>
        <li>Return to the “Help & Training” page [<a href='http://srdr.training.ahrq.gov/help'>http://srdr.training.ahrq.gov/help</a>].</li>
        <li>Go to the first tab (<strong>Training Materials</strong>) and download the Word document, “Blood Pressure Targets - Data Extraction Only” (This is #2 under <Strong>Project Examples</strong> in the Training Materials tab).</li>
        <li>Once you have received email confirmation that you have been added to the Data Extraction training case, please log into <a href='http://srdr.training.ahrq.gov/'>http://srdr.training.ahrq.gov/</a> and follow the step-by-step instructions in the Word document you downloaded in Step 7.</li>
        <li>If you have not already registered for an account on the SRDR homepage, <a href='http://srdr.ahrq.gov/'>http://srdr.ahrq.gov/</a> (this is not the training page), then please register. Under account type, you will select: <strong>Project Contributor</strong>.</li>
    </ol>
        <br/><br/>Once you have completed steps 1-9 above, <strong>please notify the SRDR Support Team (<a href='mailto:SRDR@AHRQ.HHS.gov'>SRDR@AHRQ.HHS.gov</a>) via email that you have completed your training and registered an account on the SRDR homepage</strong>. Your Project Contributor account will then be approved and you will be granted full access to the SRDR website.
       <br/><br/>Should you have any questions or concerns, please contact the SRDR Support Team at <a href='mailto:SRDR@AHRQ.HHS.gov'>SRDR@AHRQ.HHS.gov</a> or by phone at (401) 863-5791 9:00 AM - 5:00 PM(EST), Monday to Friday, excluding holidays (<a href='http://brown.edu/about/administration/human-resources/policies/holidays'>http://brown.edu/about/administration/human-resources/policies/holidays</a>)"],
    ["How do I obtain a Project Contributor account on the SRDR if my role in a systematic review project involves both data extraction and extraction form design or only extraction form design?","If your role in an SRDR Project involves both extraction form design and extracting data from studies, or just extraction form design, you will need to register for an SRDR project contributor account and complete all steps of the Full Training Tutorial, below, before collaborating on the project.<br/><br/>Steps to complete the Full Training tutorial:
    <ol class='instructions'>
        <li>Please go to <a href='http://srdr.training.ahrq.gov/'>http://srdr.training.ahrq.gov/</a>.</li>
        <li>Please register to create your SRDR Training Site account.</li>
        <li>Go to the third tab (<strong>Video Tutorials</strong>) and watch videos 1 - 6 (SRDR Overview and Project Initiation; Creating Extraction Form Template in the SRDR; Add, View & Edit Study data in the SRDR Site; Building Questions for Data Extraction in the SRDR; Exporting your project’s entire dataset using the SRDR Simple Data Export Tool; Assigning and reassigning studies to your project team in SRDR).</li>
        <li>Return to the “Help & Training” page [<a href='http://srdr.training.ahrq.gov/help'>http://srdr.training.ahrq.gov/help</a>].</li>
        <li>Go to the first tab (<strong>Training Materials</strong>) and download the Word document, “Blood Pressure Targets - Full Tutorial” (This is #1 under <strong>Project Examples</strong> in the Training Materials tab).</li>
        <li>Log into <a href='http://srdr.training.ahrq.gov/'>http://srdr.training.ahrq.gov/</a> and follow the step-by-step instructions in the Word document you downloaded in Step 5.</li>
        <li>If you have not already registered for an account on the SRDR homepage, <a href='http://srdr.ahrq.gov/'>http://srdr.ahrq.gov/</a> (this is not the training page), then please register. Under account type, you will select: <strong>Project Contributor</strong>.</li>
    </ol>
        <br/><br/>Once you have completed steps 1-7 above, <strong>please notify the SRDR Support Team (<a href='mailto:SRDR@AHRQ.HHS.gov'>SRDR@AHRQ.HHS.gov</a>) via email that you have completed your training and registered an account on the SRDR homepage</strong>. Your Project Contributor account will then be approved and you will be granted full access to the SRDR website.
        <br/><br/>Should you have any questions or concerns, please contact the SRDR Support Team at <a href='mailto:SRDR@AHRQ.HHS.gov'>SRDR@AHRQ.HHS.gov</a> or by phone at (401) 863-5791 9:00 AM - 5:00 PM(EST), Monday to Friday, excluding holidays (<a href='http://brown.edu/about/administration/human-resources/policies/holidays'>http://brown.edu/about/administration/human-resources/policies/holidays</a>)"],
    ["Will I need to re-register for a project contributor account if my current role in an SRDR Project changes or if I create/collaborate on a different SRDR Project?","No. However, if your role in any SRDR Project involves extraction form design and you previously only completed the data extraction tutorial to obtain your SRDR project contributor account, it is recommended that you complete steps 1 through 7 of the Full Training tutorial described under the question: <strong>How do I obtain a Project Contributor account on the SRDR if my role in a systematic review project involves both data extraction and extraction form design or only extraction form design?</strong>"],
    ["What is the difference between a project lead and a project collaborator?", "Any time a new project is created, the user creating that project is saved as the <strong>project lead</strong>. Project leads have the ability to save or update any details associated with the project including the project's title, description, and key questions. Leads can create and update extraction forms to be used in the project and may add or remove project collaborators or other project leads. In addition, project leads can add studies to the project, or edit/update existing studies created by other users collaborating on the project and utilize SRDR Project Tools.<br/><br/><strong>Project collaborators</strong> are assigned to a project by the project lead. Collaborators cannot change any of the details associated with the project itself but they can add studies to the project, removes studies they have added or been assigned to, and save extracted data."],
    ["What is the difference between SRDR Training and Production Sites?", "To register for an account on the SRDR Production or home site (located at: <a href='http://srdr.ahrq.gov/'>http://srdr.ahrq.gov/</a>) requires an email request for approval by SRDR staff. But registering for an account on the SRDR Training site (located at: <a href='http://srdr.training.ahrq.gov/'>http://srdr.training.ahrq.gov/</a>) does not. As soon as you submit a user registration form on the Training site you are automatically provided with an SRDR Training account. <br/><br/>Note that your SRDR Training account cannot be used to login to the SRDR Production site. Likewise, an SRDR account registered on the production site will not provide access to the training site. <br/><br/><strong>Note:</strong> The SRDR Production and Training sites are easily distinguished from one another by the color of their SRDR Banner, present at the top of every webpage in the SRDR System. On the production site, the SRDR Banner is blue. On the training site, the SRDR banner is purple."]
]%>

<% projects = [
    ["Can a project have more than one lead?","Yes, there is no limit to the number of project leads a project may have."],
    ["Is there a limit to the amount of time that a project can be stored on the SRDR before it must be published?","No, there is no limit to the amount of time a project can be stored on the SRDR, regardless of whether it is published or not."],
    ["What is the maximum number of collaborators that can be assigned to a project?","There is no limit to the number of collaborators that may be assigned to any one project."],
    ["What does project status mean? Can I modify the project after it was published?","When first created, all systematic review projects are designated as Incomplete. This indicates that the systematic review is not yet complete and should not be made available to the public.<br/><br/>A completed review can be made publicly searchable by updating the project status to Published. This signifies that no additional changes are expected to be made to the project, and ensures that the project will appear in the SRDR search dialogue.<br/><br/>Once published, edits to the systematic review can no longer be made. Instead, all corrections and updates must be made through the SRDR wiki interface."],
    ["Can I see the projects of other SRDR users from the MySRDR tab of the SRDR Homepage?","The MySRDR tab on both the SRDR Training or Production sites allows you to view only those projects in which you have a role as either a project lead or project collaborator."],
    ["How do I publish a project in the SRDR?","Once you are ready to publish your project, click the <strong>Edit</strong> icon located below your project on the MySRDR project list. Next, on the project editor page click the <strong>Publish Externally</strong> button located under <strong>Project Tools</strong> in the sidebar. On the following page, switch the status of your project from <strong>Incomplete</strong> to <strong>Published</strong> by selecting the appropriate radio button. Finally, agree to the <strong>SRDR Terms of Use Policy</strong>, and click the <strong>Save</strong> button."],
    ["Who can access my project","Until your project is published in the SRDR, the only persons having access to a project that you created are those SRDR users designated as either project leads or project collaborators in your project. <br/><br/>After your project is published, it will become searchable and the study data will become accessible to anyone visiting the SRDR homepage via the Published Projects tab. They will, however, be unable to make any changes to the data."]
]%>

<% extraction_forms = [
    ["Can I create more than one extraction form per project?","Yes. A systematic review project may have multiple extraction forms associated with it, so long as they each address different key questions. "],
    ["Can I create an extraction form that will not be associated with any of the projects key questions?","No. Extraction forms must always be associated with at least one key question, as the key question is used to link a study with its appropriate extraction form."],
    ["What happens if I add/edit/delete data fields in an existing extraction form after I've extracted study data using the form?","Any data fields added to an extraction form will automatically propagate through to studies that have been assigned to that form. Similarly, any edits to or deletion of data fields in an extraction form will be propagated to studies assigned to that form, regardless of whether data has been saved those studies."],
    ["Do I have to pre-specify arms and outcomes when I am creating an extraction form?","No, pre-specification of arms and outcomes is not required when creating an extraction form. Instead, users have the option to create their own arm and outcome titles when extracting data."],
    ["Can I customize default values for extraction forms?","No, at present there are no customizable default values for extraction forms. However, creators of extraction forms may provide a list of suggested terms for use by the project team during data extraction. By doing so, it is expected that user input will be standardized, resulting in a more useful set of data."],
    ["How do I know if sections of my Extraction Form have been saved?","Any edits made to an extraction form are saved automatically. To double-check, you can navigate to your project’s study list to see whether the changes you made to the extraction form were propagated through to the studies assigned to that form."],
    ["Can I reuse an extraction form that I created for a different project?","Yes, you may re-use an extraction form by sending it to the <strong>Extraction Form Bank</strong>. This operation may be completed on the <strong>Finalize</strong> tab for the extraction form of interest. Once submitted, it can then be imported into a new project by clicking the <strong>Browse Form Templates</strong> button on the extraction forms screen for the new project. You will be presented with an Extraction Form Bank window, in which you may preview all of the extraction forms submitted to the Extraction Form Bank. Once you have identified the extraction form of your choice, add it your project by clicking on the <strong>Add to Project</strong> icon located under the extraction form’s title. Next, rename the extraction form and assign it to the appropriate key question(s). Finally, click the <strong>Assign and Save</strong> button. The extraction form will now be added to the extraction form list of your new project."] 
]%>

<% question_builder = [
    ["Which extraction form sections have the question-builder capabilities","Questions may be created for the following extraction form sections:<ul class='lists'><li>Design Details</li><li>Baseline Characteristics</li><li>Arm Details</li><li>Outcome Details</li><li>Diagnostic Test Details</li></ul>"],
    ["Is there a limit to how many questions I can create?","No, there is no limit. However, keep in mind that a well-designed extraction form will ease the burden of downstream data analysis."],
    ["Is there a limit on how long the question can be?","Yes, the question text is limited to a little over 65,000 characters."],
    ["What if I need to edit a title of a question? Will I lose data?","No, your data will not be lost if edits are made to the title of a question. However, <em>ALWAYS USE CAUTION</em> when making these changes, as they could have an impact on the meaning or interpretation of abstracted study data."],
    ["What if I need to modify an answer choice in a multiple choice question or update the title of a column or row in a matrix question? Will I lose data?","No. your data will not be lost. Any changes made to the answer choice will be applied to all previously abstracted data points. However, <em>ALWAYS USE CAUTION</em> when updating answer choices, as it could lead to incorrect data."],
    ["Can I change the order of answer choices on a multiple choice or dropdown question without losing associated data?","No. The order of choices cannot currently be changed after data has been abstracted. By changing the order, you would be changing the values of abstracted data."],
    ["Can I reorder the rows or columns of a matrix question without losing associated data?","No.You cannot currently re-order any rows or columns in a matrix without affecting the existing data points. <br/>Note: The interface will warn the user any time that a question has associated data at the time of editing."],
    ["What will happen if I delete an answer choice from a multiple choice or dropdown question or delete a row/column from a matrix question?","All previously abstracted study data associated with that answer choice, row, or column will also be removed, and <em>CANNOT BE RECOVERED</em>."],
    ["What will happen if I add answer choice(s) to a multiple choice or dropdown question or add row(s)/column(s) to a matrix question?","All previously abstracted study data associated with that answer choice row or column will be unaffected."]
]%>

<% studies = [
    ["Does the system work with any kind of study design or just RCTs?","The SRDR was designed as a generic data collection tool. Extensive testing has been performed on RCT study data and limited testing on diagnostic test study data. Testing with other types of studies is ongoing, but the SRDR should be considered as a tool for any study data."],
    ["How do I know my data have been saved?","Look for a <strong>Saved Successfully</strong> notification any time you press the [Save] button. To double-check, you can navigate between pages to confirm that your data have been saved."],
    ["Must I finish an entire project/extracting an entire study before I can log off or move to a different project?","SRDR is designed so that you may stop your work at any time and continue whenever it is convenient for you. "],
    ["How do I know if I am in the extraction form editor or actually extracting a study?","When editing an extraction form, you will see a window with grey tabs listing each of the potential sections for your form. When extracting study data, the tabs will be blue. In addition, during the extraction process, the setup of the tabs on your extraction form might change, depending on which tabs were specified as visible when the extraction form was created."],
    ["I accidentally deleted a project/extraction form/study. How do I get it back?","At present time, all deletions in the SRDR are final. Proceed with the highest level of caution any time that deletions are being made, as they cannot be undone. It’s possible that future versions of SRDR may incorporate a retrieval system immediately after data is deleted, but the time-frame for this feature is unknown."],
    ["Can I copy information from other projects/extraction forms/studies into my current project/extraction form/study?","It is possible to copy entire projects (extraction forms and study data) that have already been published in SRDR or to which you have access as a project lead or collaborator. Before copying any project, you will need to seek permission from the original contributor and then abide by the Creative Commons licensing agreement. <br/><br/>It is also possible to borrow extraction form templates that have been saved to the Extraction Form Bank, add them to your project, and modify them as you see fit. For additional information on adding extraction form templates from the Extraction Form Bank to your Project, please see the question, <em>Can I reuse an extraction form that I created for a different project?</em> in the Extraction Form section of this FAQ."],
    ["Can I create more than one study record for the same publication?","Yes, multiple SRDR study records may be created for the same publication. Data from publications may be used in different ways depending on the systematic review topic, which would be reflected in the duplicated study records. Use of the Data Comparison tool in SRDR enables users to compare duplicated records to find any inconsistencies in extracted data elements."],
    ["Can multiple projects dealing with the same topic can be included in the system?","The SRDR system does not limit the number of projects covering the same topic. Allowing for multiple groups to publish concurrent research may help to strengthen the evidence for particular topics and make SRDR a more powerful resource to the systematic review community. "]
]%>

<% data_export = [
    ["How soon can I expect changes made to my SRDR project to be reflected on export files downloaded using the Simple Data Export tool?","You can expect changes made to your SRDR Project to be reflected on export files downloaded using the Simple Data Export option within 24 hours of making those changes. However, if you would like to export data from you SRDR project immediately after making changes, you may use the Advanced Data Export option to conduct a live export of your project."],
    ["How do I manipulate the coding of project data exported from SRDR with values: (true value, false value) into a binary format (1s and 0s) using Microsoft Excel?","Use the formula below to manipulate the coding of data exported from your SRDR project with values (1, 0) into a binary format with values (<true value>, <false value>) using Microsoft Excel.
        <br></br>=IF(EXACT(<Cell ID>,<target value>),<true value>,<false value>)
        <br></br>When entered into an empty cell on a Microsoft Excel worksheet, this formula will specifically recognize a single data value, <target value>, entered into a specific cell with ID, <Cell ID>. If the desired data value, <target value>, is present in the cell with ID, <Cell ID>, then the value returned in the cell containing the excel formula will be the <true value>, otherwise the value returned in the empty cell will be the <false value>.
        <br></br>For step-by-step instructions on using this Microsoft Excel formula, please click the following link to download the tutorial:<br/><br/><a target='_blank' href='https://s3.amazonaws.com/srdr/Report_Builder_Tip_08062014.pdf' title='Report Builder Tips - Converting Yes/No data to binary values in Excel'>Report Builder Tips - Converting Yes/No data to binary values in Excel (PDF - 881 KB)</a>"]
]%>

<% data_import = [
    ["What will happen if I try to import a spreadsheet of abstracted data that uses only a single row per study, when one or more rows on the spreadsheet contain the same PubMed ID or Internal ID or Author and Title?","The rows of data sharing the same study citation information will overwrite each other in SRDR. Following the import of the spreadsheet into the project, only the data from the row that is furthest down on the spreadsheet will appear in the project."],
    ["What will happen if I try to import a spreadsheet of abstracted data that uses multiple rows per study, when one or more rows on the spreadsheet contain the same PubMed ID or Internal ID or Author and Title, AND either the same arm, outcome or adverse event title?","The rows of data sharing the same study citation information AND arm, outcome, or adverse event title, will overwrite each other in SRDR. Following the import of the spreadsheet into the project, only the data from the row that is furthest down on the spreadsheet will appear in the project."],
    ["After uploading a spreadsheet of abstracted data into SRDR, how long do I need to wait before the data will be saved in my SRDR Project?","Depending on the size of the spreadsheet that has been uploaded, you may have to wait anywhere between 1 to 5 minutes. A notification email will be sent to you once the spreadsheet you have uploaded has been processed and the data on the spreadsheet has been saved in your SRDR project."],
    ["After uploading a spreadsheet of abstracted data into SRDR, can I continue to work on my SRDR project while the Data Import tool is processing the spreadsheet?","Yes. After receiving the confirmation banner that your file is processing, you may continue to import data into your project using the Data Import tool or work on other parts of your SRDR project."],
    ["What does it mean if I get a red banner saying, 'Insufficient study identifier values found (PMID > Internal ID > Author+Title) in headers. Workbook is not valid', after uploading a spreadsheet of abstracted data into a project in SRDR?","What this means is that your spreadsheet was not fully processed by the system because the spreadsheet did not include a column for either: “Pubmed ID”, “Internal ID”, or both “Author” and “Title” (Author column and Title column must be included together if used on the same spreadsheet). To resolve this error, please make the necessary corrections to your spreadsheet, save your changes on the spreadsheet, and re-upload the spreadsheet to the Data Import Tool."],
    ["What does it mean if I get a red banner saying, 'No data parsed. #parse_data to parse a workbook with opt'l header row', after uploading a spreadsheet of abstracted data into a project in SRDR?","What this means is that the spreadsheet that was uploaded was not in the correct format. Spreadsheets uploaded to the data import tool should be saved as either Microsoft Excel 2007/2010/2013 files ending in the extension “.xlsx”. To resolve this error, please save your spreadsheet in the proper format, and re-upload the spreadsheet to the Data Import Tool."],
    ["What will happen if I import abstracted data for a study into more than one extraction form in my project?","When you are in the study view for the study in your project, you will be able to view the abstracted data of the study that was imported into each extraction form, individually, by switching between extraction forms using the “Extracting Data to Form” dropdown menu located on the top right of the page."]
]%>

<% titles = ["General","Accounts","Projects","Extraction Forms","Using The Question Builder","Studies","Data Export","Data Import"] %>
<% total_i = 0 %>
<% sections = [general, accounts, projects, extraction_forms, question_builder, studies, data_export, data_import] %>
<% sections.each_with_index do |question_list,i| %>
    <%= render :inline => "<br/>" unless i == 0 %>
    <h3><%= titles[i] %></h3>
    <ul class='normal_list'>
      <% question_list.each_with_index do |q,j| %>
        <li><a href="#question<%= total_i+1 %>" title='Jump to question: <%= q[0] %>'><%= q[0] %></a></li>
        <% total_i += 1 %>
      <% end %>
    </ul>
<% end %>
<br/><div class='hr'></div><br/>

<% total_i = 0 %>
<% sections.each_with_index do |question_list,i| %>
    <%= render :inline => "<br/>" unless i == 0 %>
    <h2><%= titles[i] %></h2>
    <% if titles[i] == "Using Question Builder" %>
        <a name="question_builder"></a>
    <% end %>
    <% question_list.each_with_index do |q,index| %>
        <a name ='<%= "question#{total_i + 1}"%>'></a>
        <h3><%= q[0] %></h3>
        <br/>
        <%= render :inline=>"#{q[1]}" %>
        <br/><br/>
        <div style='float:left;'><a href='#top'>Back to the Top</a></div><br/>
        <div class='hr'></div>
        <% total_i += 1 %>
        <br/>
      <% end %>
    
<% end %>
</div>

<!-- 
    In some cases users will arrive at this page after choosing a link for
    more information about using the question builder. If that's the case, 
    direct them to the proper help tab and scroll to question builder
    information.
-->
<script type='text/javascript'>
$(document).ready(function(){
    if(window.location.search.match(/selected\=5/)){
        if(window.location.hash != ""){
            loc = window.location.hash.replace("#","");
            $('html,body').animate({scrollTop: $("[name='"+loc+"']").offset().top}, 500);
        }
    }
});
</script>
