<div style='padding-top:10px; float:left;'><h2>Quarterly SRDR Training</h2>
<br/><br/>
The SRDR system continues to grow and change due to valuable feedback from the systematic review community. To keep up with these changes we will be releasing quarterly training documents to highlight key components and features that the system has to offer. These documents can be downloaded in both PDF and Microsoft Powerpoint formats using the links below. <br/>
<br/>
<strong>Note:</strong> You may right-click and choose "Save Link As..." to save the following materials and tutorials to your hard drive<br/><br/>
<%# APRIL 2013 %>
<span style='font-style:italic; text-decoration:underline; font-weight:bold;'>April, 2013</span>: <em>"Using SRDR to Develop Data Abstraction Forms for Systematic Review of RCTs and Observational Studies"</em><br/>
<%=image_tag "pdf.png"%> <%= link_to "PDF Format (4.1MB)", "https://s3.amazonaws.com/srdr/quarterly_srdr_training_april2013.pdf", :title=>"Download the quarterly training document from April, 2013 in PDF Format" %> [<a href="http://get.adobe.com/reader/" class='needs_exit_disclaimer' target="_blank" title="Download a Free PDF Viewer">Free PDF Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>]
<br/><br/>
<%=image_tag "ppt.png"%> <%= link_to "MS PowerPoint Format (3.8MB)", "https://s3.amazonaws.com/srdr/quarterly_srdr_training_april2013.pptx", :title=>"Download the quarterly training document from April, 2013 in PowerPoint Format" %> [<a href="http://www.microsoft.com/en-us/download/details.aspx?id=13" class='needs_exit_disclaimer' target="_blank" title="Download a Free PowerPoint Viewer">Free PowerPoint Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>]
<br/><br/>
<%# JULY 2013 %>
<span style='font-style:italic; text-decoration:underline; font-weight:bold;'>July, 2013</span>: <em>"SRDR Tools for Data Extraction and Creating Summary Tables"</em><br/>
<%=image_tag "pdf.png"%> <%= link_to "PDF Format (2.9MB)", "https://s3.amazonaws.com/srdr/quarterly_srdr_training_july2013.pdf", :title=>"Download the quarterly training document from July, 2013 in PDF Format" %> [<a href="http://get.adobe.com/reader/" class='needs_exit_disclaimer' target="_blank" title="Download a Free PDF Viewer">Free PDF Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>]
<br/><br/>
<%=image_tag "ppt.png"%> <%= link_to "MS PowerPoint Format (2.6MB)", "https://s3.amazonaws.com/srdr/quarterly_srdr_training_july2013.pptx", :title=>"Download the quarterly training document from July, 2013 in PowerPoint Format" %> [<a href="http://www.microsoft.com/en-us/download/details.aspx?id=13" class='needs_exit_disclaimer' target="_blank" title="Download a Free PowerPoint Viewer">Free PowerPoint Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>]
<br/><br/>
<%# NOVEMBER 2013 %>
<span style='font-style:italic; text-decoration:underline; font-weight:bold;'>November, 2013</span>: <em>"Using SRDR For Systematic Reviews of Diagnostic Tests"</em><br/>
<%=image_tag "pdf.png"%> <%= link_to "PDF Format (4.1MB)", "https://s3.amazonaws.com/srdr/quarterly_srdr_training_110313.pdf", :title=>"Download the quarterly training document from November, 2013 in PDF Format" %> [<a href="http://get.adobe.com/reader/" class='needs_exit_disclaimer' target="_blank" title="Download a Free PDF Viewer">Free PDF Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>]
<br/><br/>
<%=image_tag "ppt.png"%> <%= link_to "MS PowerPoint Format (3.7MB)", "https://s3.amazonaws.com/srdr/quarterly_srdr_training_110313.pptx", :title=>"Download the quarterly training document from November, 2013 in PowerPoint Format" %> [<a href="http://www.microsoft.com/en-us/download/details.aspx?id=13" class='needs_exit_disclaimer' target="_blank" title="Download a Free PowerPoint Viewer">Free PowerPoint Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>]
<br/><br/>
<%# JUNE 2014 %>
<span style='font-style:italic; text-decoration:underline; font-weight:bold;'>June, 2014</span>: <em>"Entering Data Retrospectively into SRDR"</em><br/>
<%=image_tag "pdf.png"%> <%= link_to "PDF Format (10.4MB)", "https://s3.amazonaws.com/srdr/quarterly_srdr_training_june2014.pdf", :title=>"Download the quarterly training document from June, 2014 in PDF Format" %> [<a href="http://get.adobe.com/reader/" class='needs_exit_disclaimer' target="_blank" title="Download a Free PDF Viewer">Free PDF Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>]
<br/><br/>
<%=image_tag "ppt.png"%> <%= link_to "MS PowerPoint Format (11.3MB)", "https://s3.amazonaws.com/srdr/quarterly_srdr_training_june2014.pptx", :title=>"Download the quarterly training document from June, 2014 in PowerPoint Format" %> [<a href="http://www.microsoft.com/en-us/download/details.aspx?id=13" class='needs_exit_disclaimer' target="_blank" title="Download a Free PowerPoint Viewer">Free PowerPoint Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>]
<br/><br/>
<%# SEPTEMBER 2014 %>
<span style='font-style:italic; text-decoration:underline; font-weight:bold;'>September, 2014</span>: <em>"SRDR Data Import Tool: A Tool to Import Data Retrospectively into SRDR"</em><br/>
<%=image_tag "pdf.png"%> <%= link_to "PDF Format (6MB)", "https://s3.amazonaws.com/srdr/SRDR_Data_Import_Tool_091214.pdf", :title=>"Download the quarterly training document from September, 2014 in PDF Format" %> [<a href="http://get.adobe.com/reader/" class='needs_exit_disclaimer' target="_blank" title="Download a Free PDF Viewer">Free PDF Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>]
<br/><br/>
<%=image_tag "ppt.png"%> <%= link_to "MS PowerPoint Format (7MB)", "https://s3.amazonaws.com/srdr/SRDR_Data_Import_Tool_091214.pptx", :title=>"Download the quarterly training document from September, 2014 in PowerPoint Format" %> [<a href="http://www.microsoft.com/en-us/download/details.aspx?id=13" class='needs_exit_disclaimer' target="_blank" title="Download a Free PowerPoint Viewer">Free PowerPoint Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>]
<br/><br/>
<%# DECEMBER 2014 %>
<span style='font-style:italic; text-decoration:underline; font-weight:bold;'>December, 2014</span>: <em>"SRDR Best Practices"</em><br/>
<%=image_tag "pdf.png"%> <%= link_to "PDF Format (6MB)", "https://s3.amazonaws.com/srdr/srdr_best_practices_presentation_Final.pdf", :title=>"Download the quarterly training document from December, 2014 in PDF Format" %> [<a href="http://get.adobe.com/reader/" class='needs_exit_disclaimer' target="_blank" title="Download a Free PDF Viewer">Free PDF Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>]
<br/><br/>
<%=image_tag "ppt.png"%> <%= link_to "MS PowerPoint Format (7MB)", "https://s3.amazonaws.com/srdr/srdr_best_practices_presentation_Final.pptx", :title=>"Download the quarterly training document from December, 2014 in PowerPoint Format" %> [<a href="http://www.microsoft.com/en-us/download/details.aspx?id=13" class='needs_exit_disclaimer' target="_blank" title="Download a Free PowerPoint Viewer">Free PowerPoint Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>]
<br/><br/>
<%# JUNE 2015 %>
<span style='font-style:italic; text-decoration:underline; font-weight:bold;'>June, 2015</span>: <em>"Publishing projects and reusing data and forms in SRDR"</em><br/>
<%=image_tag "pdf.png"%> <%= link_to "PDF Format (5MB)", "https://s3.amazonaws.com/srdr/srdr_publishing_projects_Final.pdf", :title=>"Download the quarterly training document from June, 2015 in PDF Format" %> [<a href="http://get.adobe.com/reader/" class='needs_exit_disclaimer' target="_blank" title="Download a Free PDF Viewer">Free PDF Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>]
<br/><br/>
<%=image_tag "ppt.png"%> <%= link_to "MS PowerPoint Format (16MB)", "https://s3.amazonaws.com/srdr/srdr_publishing_projects_Final.pptx", :title=>"Download the quarterly training document from June, 2015 in PowerPoint Format" %> [<a href="http://www.microsoft.com/en-us/download/details.aspx?id=13" class='needs_exit_disclaimer' target="_blank" title="Download a Free PowerPoint Viewer">Free PowerPoint Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>]
<br/><br/>
<%# DECEMBER 2015 %>
<span style='font-style:italic; text-decoration:underline; font-weight:bold;'>December, 2015</span>: <em>"Open forum to improve your experience entering data into SRDR"</em><br/>
<%=image_tag "pdf.png"%> <%= link_to "PDF Format (289KB)", "https://s3.amazonaws.com/srdr/srdr_open_forum+-+Final+12-15-15.pdf", :title=>"Download the quarterly training document from December, 2015 in PDF Format" %> [<a href="http://get.adobe.com/reader/" class='needs_exit_disclaimer' target="_blank" title="Download a Free PDF Viewer">Free PDF Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>]
<br/><br/>
<%=image_tag "ppt.png"%> <%= link_to "MS PowerPoint Format (179KB)", "https://s3.amazonaws.com/srdr/srdr_open_forum+-+Final+12-15-15.pptx", :title=>"Download the quarterly training document from December, 2015 in PowerPoint Format" %> [<a href="http://www.microsoft.com/en-us/download/details.aspx?id=13" class='needs_exit_disclaimer' target="_blank" title="Download a Free PowerPoint Viewer">Free PowerPoint Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>]
<br/><br/>
</div>
