<div id='left-navigation-div' tabindex=100>
<%= render :partial=>"sidebars/mySRDR_sidebar" %>
</div>

<div id='content' tabindex=200>
<%
    # Get control properties
    guiproperties = Guiproperties.new
    show_admin = guiproperties.getDevAdminActivation()
    show_adminv = guiproperties.getDevAdminActivationValue()

%>
<table class='list_table'>
	<tr>
		<td>ID</td>
		<td>Username</td>
		<td>FirstName</td>
		<td>LastName</td>
		<td>Email</td>
		<td>Organization</td>
		<td>User Type</td>
		<td>Login Count</td>
    <td>Creation Date</td>
<%
    if show_admin
%>
		<td>Admin</td>
<%
    end
%>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%=user.login%></td>
			<td><%= user.fname.force_encoding("UTF-8") %></td>
			<td><%= user.lname.force_encoding("UTF-8") %></td>
			<td><%= user.email.force_encoding("UTF-8") %></td>
			<td><%= user.organization.force_encoding("UTF-8") %></td>
			<td><%= user.user_type %></td>
			<td><%= user.login_count%></td>
      <td><%= user.created_at %></td>
<%
    if show_admin
        if user.user_type == "PENDING"
%>
		<td>
        <a href="/accountsmanager/approve_request/<%= user.id %>">Approve</a> <a href="/accountsmanager/delete/<%= user.id %>">Delete</a>
        </td>
<%
        else
%>
            <td>
            <a href="/accountsmanager/delete/<%= user.id %>">Delete</a>
            </td>
<%
        end
    end
%>
		</tr>
	<% end %>
</table>
</div>
