<%= form_tag({:action=>'send_feedback', :controller=>'home'}, :remote => true) do %>
	<table class="form_table" summary="feedback form table">
	<tr class="field"><td class="label">
			<%= hidden_field_tag "url",request.url %>
				<% options = ["User Home Screen","Extraction Forms","Project Creation","Study Creation","Preview Pages","Other"] %>
				<label for='feedback-form-select'>Select a Topic:</label>
	</td><td>			
		<%= select_tag "feedback-form-select", options_for_select(options.collect{|opt| [opt,opt]}, ""), {:tabindex=>1} %>
	</td></tr>
	<tr class='field'><td class="label">
	<label for="description">Your Feedback:</label>
	</td><td>
				<%= text_area_tag "description",nil, :size=>"40x4", :tabindex=>2 %>
	</td></tr>
	<tr><td colspan="2" class="actions">
			  <button type="submit" class="positive" tabindex="3">
			 <%= image_tag "Accept.png", :alt => "Submit" %> Submit
			  </button>
			  <button type="reset" class="negative" tabindex="4">
			 <%= image_tag "Cancel.png", :alt => "Reset Form" %> Reset
			  </button>
			<button class="negative" id='feedback_cancel' tabindex="5">
				<%= image_tag "Cancel.png", :alt => "Cancel" %> Cancel
			</button>  
	</td></tr></table>
<% end %>
<span id='feedback_end'></span>
<script type='text/javascript'>
//<!--
function feedback_init() {
  try{
    checkLoaded(); // HOLD OFF UNTIL THE LAST ELEMENT IS LOADED
    set_feedback_js();
  } catch( err ) {
    setTimeout('feedback_init()', 200);
  }
}
function checkLoaded() {
    if ( $('#feedback_end').length == 0) $jquery.error( 'not ready' );
}
function set_feedback_js(){
    $("#feedback_cancel").unbind();
    $("#feedback_cancel").bind("click",function(event){
    	event.preventDefault();
	    $("#feedback_form").dialog("close");
	});
}
feedback_init();
    
//-->
</script>