<div id='left-navigation-div' tabindex=100>
<%= render :partial => "sidebars/project_sidebar" %>
</div>
<div id='content' tabindex=200>
<%# render :partial => "projects/page_title", :locals => {:page_title => "New Study"} %>
<br/><br/>
<% user_is_project_lead = current_user.is_lead(params[:project_id]) %>
<% if @ready_for_studies[0] %>
	Studies may be added to your project individually or in batches.  You may optionally choose to associate the studies with key questions
	at the time of creation, automatically linking them with an extraction form. Extraction forms may be created and managed from My Work or by clicking the button labeled "Create a New Data Extraction Form."<br/><br/>


	<div id="info_messages">
	<%= render :inline=>"#{flash[:success_html]}" if flash.keys.include?(:success_html) %>
    <%= render :inline=>"#{flash[:error_html]}" if flash.keys.include?(:error_html) %>
	<%# render "layouts/info_messages" %>
	</div>

	<strong>Please specify how you would like to add new studies to your project:</strong>
	<div class="field">
	<%= radio_button "study_type", "study_number", "single", :class => "select_radio_btns cbox", :title => "single study created individually" %> <label for="One study created individually">One study created individually</label><br/>
	<%= radio_button "study_type", "study_number", "multiple", {:class => "select_radio_btns cbox", :title => "multiple studies from a list of pubmed IDs"} %> <label for="Many studies, created with a list of Pubmed IDs">Many studies, created with a list of Pubmed IDs</label><br/>
	<% if user_is_project_lead %>
		<%= radio_button "study_type", "study_number", "upload", {:class => "select_radio_btns cbox", :title => "upload a list of studies to the project"} %> <label for="Upload a file of study citations and user assignments">Upload a file of study citations and user assignments</label><br/>
    <% end %>
	</div>
	
	
<%#########################################################################%>
<%# SECTION FOR ADDING A SINGLE STUDY TO THE PROJECT											 %>
<%#########################################################################%>
	<div id="single_study_div" class='creation_option' style="display:none;padding-left:25px;">
		<br/><br/><h2>Create a New Study</h2>
		<br/><br/>
	    <div class='form_content'>
			<%= form_tag url_for(:controller=>:studies, :action=>:create), :remote => false do %>
				<%= hidden_field_tag :project_id, params[:project_id] %>
				<div class='field'>
					<label for="Which key question(s) are addressed in this study?">
						<strong>Which key question(s) are addressed in this study?</strong>
					</label>
					<br/><br/>
					<div style='max-width:700px;'>
						<table style='border: 0;' id="new_study_table_key_question_list" summary="new study table key question list" >
						<% @key_questions.each do |kq| %>	
						  <% disabled = "" %>
						  <% unless @available[kq.id] %>
						    <% disabled = "DISABLED" %>
						  <% end %>
							<tr>
						  	<td valign='top' style='padding-bottom:5px;'>
						  
						    <input type='checkbox' name="<%= 'study[key_question_' + kq.id.to_s + ']'%>" id="<%= 'study_key_question_'+kq.id.to_s%>" value="<%= kq.id %>" class='cbox editable_field' title="use this key question" <%= disabled %> />
						    </td>
						    <td style="padding-left: 5px; padding-bottom:5px;" valign='top'>
						    	<%= kq.question_number %>. <label for="question <%= kq.question_number %>"><%= render :inline=>remove_paragraph_tags(kq.question) %>
						    	<% unless @available[kq.id] %>
						    		
						    	  <span class='smallText' style='color: red;'>(No extraction form assigned to this question)</span>
						    	<% end %>
						    </td>
					    	</tr>
						<% end %>
						</table>
					</div>
				</div>
				<br/>
				<div class="actions">
					<button type="submit" class="positive saving" data-disable-with="<%= ajax_wait_msg %>">
						<%= image_tag "Add.png", :alt => "Accept" %>Save And Continue
					</button>
					
				  	<div class="saved" id="study_save_message" style='display:none;'>  Saved Successfully <%= image_tag 'Accept.png', :alt => "Accept"  %>
				  	</div>
	  			</div>
	  		
	  		<% end %>
	 	</div>
	</div>
			
	<br/>	 
<%#########################################################################%>
<%# SECTION FOR ADDING A BATCH OF STUDIES TO THE PROJECT   								 %>
<%#########################################################################%>
	<div id="multiple_study_div" class='creation_option' style="display: none;padding-left:25px;">
		<br/>
		<h2>Add a Batch of Studies using PubMed IDs</h2><br/><br/>
	  
		<%= form_tag url_for(:controller=>'studies',:action=>'create_for_pmid_list') do %>
			<div class="form_content">
				<%= hidden_field_tag :project_id, params[:project_id] %>
				<div class="field">
					<strong><label for="Please select any key questions that are addressed by these studies?">Please select any key questions addressed by these studies:</label></strong><br/>
					<span class='smallText'>Note that ALL studies created will have these key questions assigned.</span><br/><br/>
				  <div style='max-width:700px;'>
				  <table style='border: 0' cellpadding=0 cellspacing=3 id="new_studies_list_table_multiple" summary="new studies list table multiple">
						<% @key_questions.each do |kq| %>	
							<% disabled = "" %>
						  <% unless @available[kq.id] %>
						    <% disabled = "DISABLED" %>
						  <% end %>
						  <tr>
						  	<td valign='top' style='padding-bottom:5px;'>
						  
						    <input type='checkbox' name="<%= 'study[key_question_' + kq.id.to_s + ']'%>" id="<%= 'study_key_question_'+kq.id.to_s%>" title="select this key question" value="<%= kq.id %>" class='cbox editable_field' <%= disabled %>>
						    </td>
						    <td style="padding-left: 5px; padding-bottom:5px;" valign='top'>
						    	<%= kq.question_number %>. <label for="question <%= kq.question_number %>"><%= render :inline=>remove_paragraph_tags(kq.question) %></label>
						    	<% unless @available[kq.id] %>
						    		<span class='smallText'>(No extraction form assigned to this question)</span>
						    	<% end %>
						    </td>
					    </tr>
						<% end %>
					</table>
				   </div>
					<br/>
				  <div style='padding-left:15px;'>PubMed ID List:<br/><%= text_area_tag "pmids", nil, :rows=>10,:cols=>25, :class=>'editable_field' %><br>
				  <span class='smallText'>Each identifier in this list should be separated by at least one space or line.</span>
				</div>
				</div>
				<div class="actions">
					<button type="submit" class="positive" data-disable-with="<%= ajax_wait_msg %>" id="submit_button">
						<%= image_tag "Note_go.png", :alt => "Add Studies" %> Add Studies
					</button>
				  
			  	</div>
			</div>
		<% end %>
	</div>
	<br/>

<%##################################################
#  SECTION FOR UPLOADING A LIST OF STUDIES
##################################################%>
	<% if user_is_project_lead %>
		<div id="study_upload_div" class='creation_option' style='display:none; padding-left:25px;'>
			<h2>File Upload</h2><br/><br/>
			Use this option to upload a list of studies for creation in this project. <br/><br/>
			<div class='extraction_form_options'>
				<strong style='text-decoration: underline;'>Video Tutorials</strong><br/>
				<ul class='normal_list'>
					<li><a href='http://youtu.be/eTgcsbF6v0g' class='needs_exit_disclaimer' target='_blank'>SRDR Study Assignment (All 3 Parts)<img alt='WARNING: this link will direct you away form our site.' src="/images/exit_disclaimer.gif"/></a> (7 min, 19 sec)
	                <ul class='normal_list'>
	                    <li><a href='http://youtu.be/f2KiHVRB7W8' class='needs_exit_disclaimer' target='_blank'>Part 1: Preparing a study citation and user assignment import form<img alt='WARNING: this link will direct you away form our site.' src="/images/exit_disclaimer.gif"/></a> (2 min, 4 sec)</li>
	                    <li><a href='http://youtu.be/VSVzy4wkhbg' class='needs_exit_disclaimer' target='_blank'>Part 2: Uploading the study citation and user assignment import form to a project<img alt='WARNING: this link will direct you away form our site.' src="/images/exit_disclaimer.gif"/></a> (2 min, 43 sec)</li>
	                    <li><a href='http://youtu.be/0wxEWaUmuEA' class='needs_exit_disclaimer' target='_blank'>Part 3: Reassigning studies in a project to a different project team member<img alt='WARNING: this link will direct you away form our site.' src="/images/exit_disclaimer.gif"/></a> (1 min, 21 sec)</li>
	                </ul>
            		</li>
				</ul>

				<strong style='text-decoration: underline;'>Instructions</strong><br/>
				A detailed description of how to use this tool can be downloaded here:
				<ul class='normal_list'>
					<li><a href='https://s3.amazonaws.com/SRDR/training/srdr_study_assignment_module.docx' title='Download the SRDR Study Assignment Module'>SRDR Assignment Tool Module (MS Word - 1.4MB)</a> <a href="http://www.microsoft.com/en-us/download/details.aspx?id=4" class='needs_exit_disclaimer' target="_blank" title="Download a Free Word Viewer">Free Word Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>
					</li>
				</ul>
        <br/>
				<span style='text-decoration:underline; font-weight: bold;'>File Format</span>:<br/> To get started, the required file format can be viewed in the following sample files: <br/><br/>
					<ul class='normal_list'>
						<li><span style='text-decoration:underline;'>File:</span> <a href='https://s3.amazonaws.com/SRDR/assignment_pmids_only.xls'>Example Using only Pubmed IDs (MS Excel - 29KB)</a><br/>
							<span style='text-decoration:underline;'>Description:</span> An example assignment using only Pubmed ID as article identifier. Citation information will be obtained from PubMed
							<br/>
						</li>
						<li><span style='text-decoration:underline;'>File:</span> <a href='https://s3.amazonaws.com/SRDR/assignment_including_citations.xls'>Example Including Citations (MS Excel - 36KB)</a><br/>
						<span style='text-decoration:underline;'>Description:</span> An example including citation information for each assignment
						</li>
					</ul><br/>
					<strong class='text-decoration:underline;'>NOTE:</strong>  You <span style='text-decoration:underline;'>must convert files of this format into tab-delimited text</span> files prior to upload.<br/><br/>
			</div><br/>
			<div class='form_content'>
				<%= form_for :file_upload, :url=>"/projects/#{params[:project_id]}/studies/upload", :html => {:multipart => true} do |f| %>
				  <%= hidden_field_tag :project_id, params[:project_id] %> 
				  <div class='field'>
				  	<%= f.file_field :my_file %>
				  </div><br/>
				  
				  <div class='actions'>
				  	<button type="submit" class="positive" data-disable-with="<%= ajax_wait_msg %>" id="submit_button">
						<%= image_tag "Note_go.png", :alt => "Upload" %> Upload
					</button>
				  <%# f.submit "Upload" %>
				<% end %>	
			</div>
			<br/><br/>
		</div>
	<% end %>
<% else %>
	<strong>For the following reasons, studies cannot yet be added to this project:</strong>
	<div class='indent_block'><ul>
		<% @ready_for_studies[1].each do |reason| %>
		  <li><%= reason %></li>
		<% end %>
	</ul>
	</div>
	<br/>Please contact the project lead to correct this problem.<br/><br/>
	<div class="actions">
		<button type="reset" class="regular" onClick="parent.location='/'">
			<%= image_tag "Add-blue.png", :alt => "Back to User Home" %>Back to User Home
		</button>		
	</div>
<% end %>
	

	

<script type="text/javascript">
<!--
$(document).ready(function(){
    $( ".saving" ).on("click", function(){
        $( ".editable_field" ).removeClass("edited_field");
        $( ".unsaved_form" ).removeClass("unsaved_form");
    });
	//$('input:radio')
	$("[name='study_type[study_number]']").live("change", function(){
		$(".creation_option").hide();
		if ($(this).val() == "single"){
			$("#single_study_div").show();
		}
		else if($(this).val() == 'multiple')
		{
			$("#multiple_study_div").show();
		}else{
			$("#study_upload_div").show();
		}
	});
	var is_edit_page = true;
});
//-->
</script>
</div>
