<div class='tab-div'><br/>

<% unless (@cat_outcomes.empty? && @cont_outcomes.empty? && @survival_outcomes.empty?) || @arms_or_tests.empty? %>
	<%# unless @arms_or_tests.first.class == DiagnosticTest %>
		<div class='container_div'>
			
			<div class='comments_div'>
				<%= render :partial => "comments/field_comments", :locals => {:section_name => "studies", :section_id => @study.id, :field_name => "results", :study_id => @study.id, :project_id => @project.id} %>	
			</div>	
		
			<input type='hidden' id='extraction_form_id' value=<%=params[:extraction_form_id]%>/>
			<input type='hidden' id='study_id' value=<%=params[:study_id]%> />
		 
			<div id="choose_outcome">
				<%= render 'outcome_data_entries/choose_outcome' %>
			</div>		
			<div id="choose_timepoint">
			</div>
			<div id="form_div">
			</div>
			<div id="display_div">
			</div>
			<div id="modal_div">
			</div>
			<div id="data_point_option_div">
			</div>
		</div>
	<%# else %>
		<!--Diagnostic Test Results Reporting is currently under construction.<br/><br/>-->
	<%# end %>
<% else %>
  To enter raw data you will first need to define <strong><%= @ef.is_diagnostic? ? "diagnostic tests" : "arms" %></strong> and <strong>outcomes</strong> for this study.
<% end %>
<br/>
<br/>
<%= render :partial=>'section_complete_status', :locals=>{:section=>"results"} %>
<br/><br/>
<%= render :partial=>'extraction_forms/back_and_continue_buttons_modal' %>

<%= render 'shared/make_editable_and_confirm' %>

<span id="comments_loaded"></span>
<script type="text/javascript">
<!--   
function commentInit() {
   try{
    checkCommentLoaded(); // HOLD OFF UNTIL THE LAST ELEMENT IS LOADED
	prepareComment();
  } catch( err ) {
    print "LOYLOYLOY"
    setTimeout('commentInit_init()', 200);
  }
}

function checkCommentLoaded(){
    if ($('#comments_loaded').length == 0) $jquery.error('not ready');
}

function prepareComment(){
   $( "#accordion" ).tabs();
   
   $('.open_comments_link').bind("click", function(event) {
      var self = $(this);
      var qtip = '.qtip.ui-tooltip';
   
      // Create the tooltip
      self.qtip({
         overwrite: false,
		id: $(this).attr('id'),
				 position:{
		 my: 'top right', at: 'bottom center'
		 },
         content: {
			title: {
                  text: 'Item Comments',
                  button: true
			},
			text: "Loading...",
			ajax: {
				url: 'get_comment_content', 
				type: 'POST',
				data: {
					div_id: $(this).attr('id')
				} 
			}			
         },
         show: {
            event: "click", 
            ready: true, 
            solo:  true
         },
         hide: {
            delay: 100,
            event: 'click',
            fixed: true 
         },
         style: {
            classes: 'ui-tooltip-nav ui-tooltip-light', 
            tip: false,
			width: '600'
         },
         events: {
            // Toggle an active class on each menus activator
            toggle: function(event, api) {
               api.elements.target.toggleClass('active', event.type === 'tooltipshow');
            },
			// make qtip movable on render
		   render: function(event, api) {
			   api.elements.tooltip.draggable();
		   },
		   focus: function(event, api) {
         // make sure this qtip is always on the bottom i.e. below the comment form tooltip
         event.preventDefault();
		}
         }
      });
   });
}
commentInit();
</script>
</div><!-- end tab div -->
