<div id='left-navigation-div' tabindex=100>

</div>
<div id='content' tabindex=200>
  <h1>Extraction Form Preview:</h1>
  <h3><%= @extraction_form.title %></h3><br/>
  <% if !defined?(@sections_list) || @sections_list.nil? || @sections_list.length == 0 %>
    The creator of this extraction form did not include any of the available sections.
  <% else %>

    <!--
      <div class="centered"><%= link_to image_tag("Printer.png") + " Print this page", "#", :onclick => "javascript:window.print()" %>
    | <%= link_to image_tag("Layout_header.png") + ' Create PDF', extraction_form_path(params[:extraction_form_id]) + "/index_pdf", :target => "new" %>
  <div class="pdf_plugin_link"><%= link_to "download PDF plugin", "https://get.adobe.com/reader/", :target => "new" %> | To save as HTML, click File then Save Page As in your web browser.</div>
  </div><br/>
    -->

    <script type="text/javascript">
      $(function(){
        $("a#print_extform").click(function(){
          $(".extform_preview_div").printElement();
          return(false);
        });
      });
    </script>

  <% end %>
  <div class="extform_preview_div">
    <% if @sections_list.include?("questions") %>
      <!-- KEY QUESTIONS DIV SECTION -->
      <div id="extraction_form_view_questions" style="display:block">
        <div class="summary_heading">Key Questions</div>
        <div id="keyqs_text"><br/>

          <%= render "key_questions/extraction_form_list" %>
        </div>

        <br/>

      </div>
    <% end %>

    <% if @sections_list.include?("arms") %>
      <!-- ARMS DIV SECTION -->
      <div id="extraction_form_view_arms" style="display:block">
        <div class="summary_heading">Arm Name Suggestions</div>
        <div id="arms_text">
          <%= render 'arms_table_completed' %>
        </div>
        <br/>
      </div>
    <% end %>

    <% if @sections_list.include?("arm_details") %>
      <!-- ARM DETAILS DIV SECTION -->
      <% @questions = ArmDetail.where(:extraction_form_id => @extraction_form.id).order("question_number ASC") %>
      <div id="extraction_form_view_design" style="display:block">
        <div class="summary_heading">Arm Details</div>
        <div id="arm_detail_text"><br/>
          <% @model = "arm_detail" %>
          <%= render 'question_builder/extraction_form_preview_noedit' %>
        </div>
        <br/>
      </div>
    <% end %>

    <% if @sections_list.include?("design") %>
      <!-- DESIGN DETAILS DIV SECTION -->
      <% @questions = DesignDetail.where(:extraction_form_id => @extraction_form.id).order("question_number ASC") %>
      <div id="extraction_form_view_design" style="display:block">
        <div class="summary_heading">Design Details and Enrollment</div>
        <div id="design_detail_text"><br/>
          <% @model = "design_detail" %>
          <%= render 'question_builder/extraction_form_preview_noedit' %>
        </div>
        <br/>
      </div>
    <% end %>

    <% if @sections_list.include?("diagnostics") %>
      <!-- DIAGNOSTICS DIV SECTION -->
      <div id="extraction_form_view_diagnostic_tests_index" style="display:block">
        <div class="summary_heading">Diagnostic: Index Test Name Suggestions</div>
        <div id="diagnostic_test_text_index">
          <%= render :partial=>"extraction_form_diagnostic_tests/test_table", :locals=>{:tests=>@index_test_list, :title=>"Index Tests"} %>
        </div>
        <br/>
      </div>
      <div id="extraction_form_view_diagnostic_tests_reference" style="display:block">
        <div class="summary_heading">Diagnostic: Reference Test Name Suggestions</div>
        <div id="diagnostic_test_text_reference">
          <%= render :partial=>"extraction_form_diagnostic_tests/test_table", :locals=>{:tests=>@reference_test_list, :title=>"Reference Tests"} %>
        </div>
        <br/>
      </div>
    <% end %>

    <% if @sections_list.include?("diagnostic_test_details") %>
      <!-- DIAGNOSTIC TEST DETAILS DIV SECTION -->
      <% @questions = DiagnosticTestDetail.where(:extraction_form_id => @extraction_form.id).order("question_number ASC") %>
      <div id="extraction_form_view_diagnostic_test_detail" style="display:block">
        <div class="summary_heading">Diagnostic Test Details</div>
        <div id="diagnostic_test_detail_text"><br/>
          <% @model = "diagnostic_test_detail" %>
          <%= render 'question_builder/extraction_form_preview_noedit' %>
        </div>
        <br/>
      </div>
    <% end %>

    <% if @sections_list.include?("baselines") %>
      <!-- BASELINE CHARACTERISTICS DIV SECTION -->
      <% @questions = BaselineCharacteristic.where(:extraction_form_id => @extraction_form.id).order("question_number ASC")%>
      <div id="extraction_form_view_baselines" style="display:block">
        <div class="summary_heading">Baseline Characteristics Fields</div>
        <div id="pop_char_text"><br/>
          <% @model = "baseline_characteristic" %>
          <%= render 'question_builder/extraction_form_preview_noedit' %>
        </div>
        <br/>
      </div>
    <% end %>

    <% if @sections_list.include?("outcomes") %>
      <!-- OUTCOME SETUP DIV SECTION -->
      <div id="extraction_form_view_outcomes" style="display:block">
        <div class="summary_heading">Outcome Name Suggestions</div>
        <div id="outcome_setup_text"><br/>
          <%= render 'extraction_form_outcome_names/completed_table' %>
        </div>
        <br/>
      </div>
    <% end %>

    <% if @sections_list.include?("outcome_details") %>
      <!-- DESIGN DETAILS DIV SECTION -->
      <% @questions = OutcomeDetail.where(:extraction_form_id => @extraction_form.id).order("question_number ASC") %>
      <div id="extraction_form_view_design" style="display:block">
        <div class="summary_heading">Outcome Details</div>
        <div id="outcome_detail_text"><br/>
          <% @model = "outcome_detail" %>
          <%= render 'question_builder/extraction_form_preview_noedit' %>
        </div>
        <br/>
      </div>
    <% end %>

    <% if @sections_list.include?("adverse") %>
      <!-- ADVERSE EVENTS DIV SECTION -->
      <div id="extraction_form_view_adverse" style="display:block">
        <div class="summary_heading">Adverse Events</div>
        <div id="adverse_events_text"><br/>
          <%= render 'completed_tables/adverse_event_columns', :locals => {:extraction_form => @extraction_form, :arms => @extraction_form_arms} %>
        </div>
        <br/>
      </div>
    <% end %>

    <% if @sections_list.include?("quality") %>
      <!-- QUALITY ASSESSMENT SECTION -->
      <div id="extraction_form_view_quality" style="display:block">
        <div class="summary_heading">Quality Dimension Fields</div>
        <div id="qa_text"><br/>
          <%= render 'completed_tables/quality_dimension_setup' %><br/>
          <%= render 'completed_tables/quality_rating_setup' %>
        </div>
      </div>
    <% end %>
  </div>

  <script type='text/javascript'>
    $(document).ready(function(){
      $(document).prop("title","EF Preview: <%= @extraction_form.id %>");
    });
  </script>
</div>
