<div id='modal_div'></div>
<strong style='color:red;'><%= @message %></strong>
<br/><br/>
<% unless @records.empty? %>
<table class='form_table'>
  <tr>
    <th>Project</th>
    <% if current_user.is_admin? %>
      <th>Action</th>
    <% end %>
    <th>Requester</th><th>Email</th><th>Request Type</th><th>Request Date</th><th>Completion Date</th></tr>
  <% @records.each do |clo| %>
    <% usr = @users.find{|u| u.id == clo.user_id} %>
    <% unless usr.nil? %>
      <tr>
        <td><%= @projects.find{|x| x.id == clo.project_id}.title %></td>
        <% if current_user.is_admin? %>
          <td><a href='#' class='copy_project_link' title="Copy Project <%= clo.project_id%>" project_id="<%= clo.project_id %>">Copy</a>
          </td>
        <% end %>
        <td><%= usr.nil? ? "Not Found" : usr.login %></td>
        <td><%= usr.email %></td>
        <td><%= clo.to_s %></td>
        <td><%= clo.created_at.nil? ? "--" : clo.created_at.localtime.strftime("%m/%d/%y %l:%M%p") %></td>
        <td><%= clo.clone_id.nil? ? "Pending" : "Get Clone Date" %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<% else %>
  None of our published products have been downloaded by an SRDR user.
<% end %>
<% if current_user.is_admin? %>
<script type='text/javascript'>
<!--
  // Show the project copy form
  function attach_copy_listener(){
    $(".copy_project_link").unbind("");
    $(".copy_project_link").bind("click",function(event){
      event.preventDefault();
      projID = $(this).attr("project_id");
      $.ajax({
        type: 'POST',
        url: "/projects/show_copy_form",
        data:({
          project_id: projID
        })
      })
    })
  }
  attach_copy_listener();
  $(function(){
    $diag = $("#modal_div");
    var dialogOpts = {
        width: 550,
        title: "Project Copy Form",
        height: 550,
        minWidth: 550,
        minHeight: 550,
        maxWidth: 550,
        modal: true,
        autoOpen: false
    };
    $diag.dialog(dialogOpts); // This instantiates the dialog once.
  }
);
-->
</script>
<% end %>