<strong style='color:red;'><%= @message %></strong>
<br/><br/>
<% unless @incoming_requests.empty? %>
<table class='form_table'>
  <tr><th>Project</th><th>User</th><th>Last Downloaded</th><th>Download Count</th></tr>
  <% @incoming_requests.each do |clo| %>
    <% usr = @users.find{|u| u.id == clo.user_id} %>
    <% unless usr.nil? %>
      <tr>
        <td><%= @projects.find{|x| x.id == clo.project_id}.title %></td>
        <td><%= usr.nil? ? "Not Found" : usr.login %></td>
        <td><%= clo.last_download_at.nil? ? "--" : clo.last_download_at.localtime.strftime("%m/%d/%y at %l:%M%p") %></td>
        <td><%= clo.download_count %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<% else %>
Your published project data has not yet been downloaded.
<% end %>