<div id='left-navigation-div' tabindex=100>
<%= render :partial => "sidebars/mySRDR_sidebar" %>
</div>
<div id='content' tabindex=200>
	<br/><br/>
  <h1><%= @title %></h1>
	<% case @request_type %>
  <% when 'incoming' %>
    <%= render :partial=>"/data_requests/incoming_requests" %>
  <% when 'outgoing' %>
    <%= render :partial=>"/data_requests/outgoing_requests" %>
  <% when 'incopy' %>
    <%= render :partial=>"/data_requests/incoming_copy_requests" %>
  <% when 'outcopy' %>
    <%= render :partial=>"/data_requests/outgoing_copy_requests" %>
  <% end %>
</div>