<h1>Am I eligible?</h1>

<%= form_tag("eligible", method: "POST", id: "myForm", name: "myForm1", onsubmit: "attach_hidden_fields();") do %>
    <div id="phase_one" class="questions">
              <%= label_tag("age", "1. What is your age?") %>
        <br /><%= radio_button_tag("age", "<20",         false, onclick: "next_question('two', 'false');") %> <%= label_tag("age", "<20") %>
        <br /><%= radio_button_tag("age", "20-29",       false, onclick: "next_question('two', 'true');") %>  <%= label_tag("age", "20-29") %>
        <br /><%= radio_button_tag("age", "30-39",       false, onclick: "next_question('two', 'true');") %>  <%= label_tag("age", "30-39") %>
        <br /><%= radio_button_tag("age", "40-49",       false, onclick: "next_question('two', 'true');") %>  <%= label_tag("age", "40-49") %>
        <br /><%= radio_button_tag("age", "50-59",       false, onclick: "next_question('two', 'true');") %>  <%= label_tag("age", "50-59") %>
        <br /><%= radio_button_tag("age", "60-69",       false, onclick: "next_question('two', 'true');") %>  <%= label_tag("age", "60-69") %>
        <br /><%= radio_button_tag("age", "70 or above", false, onclick: "next_question('two', 'true');") %>  <%= label_tag("age", "70 or older") %>
    </div>
    <br />

    <div id="phase_two" class="questions" style="display: none;">
              <%= label_tag("readEnglish", "2. Are you COMFORTABLE reading scientific articles in English?") %>
        <br /><%= radio_button_tag("readEnglish", "no",  false, onclick: "next_question('three', 'false');") %> <%= label_tag("readEnglish", "No") %>
        <br /><%= radio_button_tag("readEnglish", "yes", false, onclick: "next_question('three', 'true');") %>  <%= label_tag("readEnglish", "Yes") %>
    </div>
    <br />

    <div id="phase_three" class="questions" style="display: none;">
              <%= label_tag("experienceExtractingData", "3. Have you ever abstracted data from at least one article for a systematic review?") %>
        <br /><%= radio_button_tag("experienceExtractingData", "no",  false, onclick: "next_question('four', 'false');") %> <%= label_tag("experienceExtractingData", "No") %>
        <br /><%= radio_button_tag("experienceExtractingData", "yes", false, onclick: "next_question('four', 'true');") %>  <%= label_tag("experienceExtractingData", "Yes") %>
    </div>
    <br />

    <div id="phase_four" class="questions" style="display: none;">
              <%= label_tag("articlesExtracted", "4. For how many ARTICLES have you abstracted data for systematic reviews?") %>
        <br /><%= radio_button_tag("articlesExtracted", "1-9",        false, onclick: "next_question('five', 'true');") %> <%= label_tag("articlesExtracted", "1-9") %>
        <br /><%= radio_button_tag("articlesExtracted", "10-19",      false, onclick: "next_question('five', 'true');") %> <%= label_tag("articlesExtracted", "10-19") %>
        <br /><%= radio_button_tag("articlesExtracted", "20 or more", false, onclick: "next_question('five', 'true');") %> <%= label_tag("articlesExtracted", "20 or more") %>
    </div>
    <br />

    <div id="phase_five" class="questions" style="display: none;">
              <%= label_tag("hasPublished", "5. Have any systematic reviews that you abstracted data for either been published or are in press?") %>
        <br /><%= radio_button_tag("hasPublished", "0", false, onclick: "next_question('six', 'true');") %> <%= label_tag("hasPublished", "No") %>
        <br /><%= radio_button_tag("hasPublished", "1", false, onclick: "follow_up('one', 'false');") %>    <%= label_tag("hasPublished", "Yes") %>
        <div id="followUp_div_one" class="followUp" style="display: none;">
                  <%= label_tag("followUp_question_one", "Please specify how many:") %>
            <br /><%= radio_button_tag("followUp_question_one", "1-2",       false, onclick: "next_question('six', 'true');") %> <%= label_tag("followUp_question_one", "1-2") %>
            <br /><%= radio_button_tag("followUp_question_one", "3-5",       false, onclick: "next_question('six', 'true');") %> <%= label_tag("followUp_question_one", "3-5") %>
            <br /><%= radio_button_tag("followUp_question_one", "6 or more", false, onclick: "next_question('six', 'true');") %> <%= label_tag("followUp_question_one", "6 or more") %>
        </div>
    </div>
    <br />

    <div id="phase_six" class="questions" style="display: none;">
              <%= label_tag("recentExtraction", "6. When did you last abstract data for an article for a systematic review?") %>
        <br /><%= radio_button_tag("recentExtraction", "0-6",       false, onclick: "next_question('seven', 'true');") %> <%= label_tag("recentExtraction", "Within the last 6 months") %>
        <br /><%= radio_button_tag("recentExtraction", "6 or more", false, onclick: "next_question('seven', 'true');") %> <%= label_tag("recentExtraction", "6 or more months ago") %>
    </div>
    <br />

    <div id="phase_seven" class="questions" style="display: none;">
              <%= label_tag("trainingType", "7. Please select the type of training in the conduct of systematic reviews you have received.") %>
        <br /><%= radio_button_tag("trainingType", "No training",
                                   false, onclick: "next_question('eight', 'true');") %> <%= label_tag("trainingType", "No training") %>
        <br /><%= radio_button_tag("trainingType", "Took a systematic review methods course offered by a university or an institution",
                                   false, onclick: "next_question('eight', 'true');") %> <%= label_tag("trainingType", "Took a systematic review methods course offered by a university or an institution") %>
        <br /><%= radio_button_tag("trainingType", "Attended a systematic review methods workshop",
                                   false, onclick: "next_question('eight', 'true');") %> <%= label_tag("trainingType", "Attended a systematic review methods workshop") %>
        <br /><%= radio_button_tag("trainingType", "Received on-the-job training",
                                   false, onclick: "next_question('eight', 'true');") %> <%= label_tag("trainingType", "Received on-the-job training") %>
    </div>
    <br />

    <div id="phase_eight" class="questions" style="display: none;">
              <%= label_tag("experienceLevel", "8. How would you consider your LEVEL OF EXPERIENCE in data abstraction for systematic reviews?") %>
        <br /><%= radio_button_tag("experienceLevel", "Slightly experienced",            false, onclick: "next_question('nine', 'true');") %> <%= label_tag("experienceLevel", "Slightly experienced") %>
        <br /><%= radio_button_tag("experienceLevel", "Somewhat/moderately experienced", false, onclick: "next_question('nine', 'true');") %> <%= label_tag("experienceLevel", "Somewhat/moderately experienced") %>
        <br /><%= radio_button_tag("experienceLevel", "Very experienced",                false, onclick: "next_question('nine', 'true');") %> <%= label_tag("experienceLevel", "Very experienced") %>
    </div>
    <br />

    <div id="phase_nine" class="questions" style="display: none;">
              <%= label_tag("currentStatus", "9. What is your current professional status?") %>
        <br /><%= radio_button_tag("currentStatus", "Faculty",          false, onclick: "next_question('nine', 'true');") %> <%= label_tag("currentStatus", "Faculty") %>
        <br /><%= radio_button_tag("currentStatus", "PhD Student",      false, onclick: "next_question('nine', 'true');") %> <%= label_tag("currentStatus", "PhD Student") %>
        <br /><%= radio_button_tag("currentStatus", "Master's student", false, onclick: "next_question('nine', 'true');") %> <%= label_tag("currentStatus", "Master's student") %>
        <br /><%= radio_button_tag("currentStatus", "Staff",            false, onclick: "next_question('nine', 'true');") %> <%= label_tag("currentStatus", "Staff") %>
        <br /><%= radio_button_tag("currentStatus", "Other",            false, onclick: "next_question('nine', 'true');") %> <%= label_tag("currentStatus", "Other") %>
    </div>
    <br />

    <div id="form-submit" style="display: none;">
        <%= submit_tag("Submit answers") %>
    </div>
<% end %>

<script>
    function follow_up(number, proceed) {
        // test if we should proceed to next question.
        if (proceed == 'true') {
            changeVisibilityOfNextUnansweredDiv('block');
        } else {
            // if user clicks on something that requires a follow up we check first whether the follow up requirement was fulfilled.
            var followUpFields = document.getElementsByName('followUp_question_one');
            var any_checked = false;
            for (var i=0 ; i<followUpFields.length ; i++) {
                if (followUpFields[i].checked) { any_checked = true; }
            }

            if (any_checked) {
                changeVisibilityOfNextUnansweredDiv('block');
            } else {
                changeVisibilityOfNextUnansweredDiv('none');
            }
        }
        var followUpDiv = document.getElementById('followUp_div_' + number);
        followUpDiv.style.display = 'block';
    }

    function next_question(phase, proceed) {
        // test if we should proceed to next question.
        if (proceed == 'true') {
            changeVisibilityOfNextUnansweredDiv('block');
        } else {
            // if user clicks on any of the disqualifying options then go ahead and offer to submit the form right away.
            changeVisibilityOfNextUnansweredDiv('none');
        }
        displaySubmit();
    }

    function changeVisibilityOfNextUnansweredDiv(display) {
        var questionDivs = document.getElementsByClassName('questions');
        for (var i=0 ; i<questionDivs.length ; i++) {
            var any_checked = false;
            var radios = questionDivs[i].getElementsByTagName('input');
            for (var j=0 ; j<radios.length ; j++) {
                if (radios[j].checked) { any_checked = true; }
            }

            if (any_checked === false) {
                questionDivs[i].style.display = display;
                break;
            }
        }
    }

    function displaySubmit() {
        document.getElementById('form-submit').style.display = 'none';
        var ages = document.getElementsByName('age');
        for (var i=0 ; i<ages.length ; i++) {
            if (ages[i].checked) {
                if (ages[i].value == '<20') {
                    document.getElementById('form-submit').style.display = 'block';
                    changeVisibilityOfNextUnansweredDiv('none');
                    return;
                }
            }
        }

        var readEnglishes = document.getElementsByName('readEnglish');
        for (var i=0 ; i<readEnglishes.length ; i++) {
            console.log(readEnglishes[i]);
            if (readEnglishes[i].checked) {
                if (readEnglishes[i].value =='no') {
                    document.getElementById('form-submit').style.display = 'block';
                    changeVisibilityOfNextUnansweredDiv('none');
                    return;
                }
            }
        }

        var experienceExtractingDatas = document.getElementsByName('experienceExtractingData');
        for (var i=0 ; i<experienceExtractingDatas.length ; i++) {
            if (experienceExtractingDatas[i].checked) {
                if (experienceExtractingDatas[i].value =='no') {
                    document.getElementById('form-submit').style.display = 'block';
                    changeVisibilityOfNextUnansweredDiv('none');
                    return;
                }
            }
        }

        var hasPublished = document.getElementsByName('hasPublished');
        for (var i=0 ; i<hasPublished.length ; i++) {
            if (hasPublished[i].checked) {
                if (hasPublished[i].value == '0') {
                    document.getElementById('followUp_div_one').style.display = 'none';
                }
            }
        }

        var currentStatus = document.getElementsByName('currentStatus');
        var any_checked = false;
        for (i=0 ; i<currentStatus.length ; i++) {
            if (currentStatus[i].checked) { any_checked = true; }
        }

        if (any_checked) {
            document.getElementById('form-submit').style.display = 'block';
        }

        return false;

        /*
        var experienceLevels = document.getElementsByName('experienceLevel');
        for (var i=0 ; i<experienceLevels.length ; i++) {
            if (experienceLevels[i].checked) {
                var articlesExtracteds = document.getElementsByName('articlesExtracted');
                for (var j=0 ; j<articlesExtracteds.length ; j++) {
                    if (articlesExtracteds[j].checked) {
                        document.getElementById('form-submit').style.display = 'block';
                    }
                }
            }
        }
        */
    }

    function attach_hidden_fields() {
        var submissionToken = "<%= @submissionToken %>";
        var input = document.createElement("input");

        input.setAttribute("type", "hidden");
        input.setAttribute("name", "submissionToken");
        input.setAttribute("value", submissionToken);

        //append to form element that you want .
        document.getElementById("myForm").appendChild(input);
    }

    function uncheckAll(formname, checktoggle) {
        var checkboxes = new Array(); 
        checkboxes = document["myForm1"].getElementsByTagName('input');
 
        for (var i=0; i<checkboxes.length; i++)  {
            //if (checkboxes[i].type == 'checkbox')   {
            if (checkboxes[i].type == 'radio')   {
                //checkboxes[i].checked = checktoggle;
                checkboxes[i].checked = false;
            }
        }
    }

    window.onload = function () { uncheckAll(); };

</script>
