<% if @outcomes.length > 0 %>
    <table class="classic-a" id="outcome_list_table" summary="outcome list table">
        <thead><tr>
                <th scope='col'>Outcome Title</th>
                <th scope='col'>Type</th>
                <th scope='col'>Units</th>
                <th scope='col'>Follow-Up Time Points</th>
                <th scope='col'>Subgroups</th>
                <th scope='col'>Outcome Description</th>
                <th scope='col'>Notes</th>
                <% if !defined? @noedits %>
                    <th scope='col'>Actions</th>
                <% end %>
            </tr></thead>
            <% for oneoutcome in @outcomes %>
                <tr class="<%= cycle("even", "odd") %>" id="<%= "outcome_"+oneoutcome.id.to_s %>">
                    <td scope='row'><%= oneoutcome.title %></td>
                    <td scope='row'><%= oneoutcome.outcome_type %>
                </td>
                <td scope='row'><%= oneoutcome.units %></td>

                <td scope='row'>
                    <% outcome_timepoints = Outcome.get_timepoints(oneoutcome.id) %>
                    <%= outcome_timepoints %>
                </td>
                <td>

                    <% sgs = @outcome_subgroups_hash.nil? ? nil : @outcome_subgroups_hash[oneoutcome.id] %>
                    <% unless sgs.nil?%>
                        <% if sgs.length < 2 %>
                            ---
                        <% else %>
                            <% sgs=sgs.reject{|x| x.title == "All Participants"}%>
                            <%= sgs.collect{|x| x.title}.join(", ") %>
                        <% end %>
                    <% else %>
                        ---
                    <% end %>
                </td>
                <td scope='row'><%= render "shared/notes_tooltip", :section_name => "outcome_desc", :item_id => oneoutcome.id, :item_notes => oneoutcome.description %></td>

                <td scope='row'>
                    <%= render "shared/notes_tooltip", :section_name => "outcome_notes", :item_id => oneoutcome.id, :item_notes => oneoutcome.notes %>
                </td>
                <% if !defined? @noedits %>
                    <td scope='row'>
                        <%= link_to  image_tag("Pencil.png", :style=>"border:0px") + " Edit Outcome", edit_outcome_path(oneoutcome, :extraction_form_id => defined?(@extraction_form) ? @extraction_form.id : params[:extraction_form_id], :study_id => defined?(@study) ? @study.id : params[:study_id]), :remote=>true, :class => "tooltip_edit", :title=>"Edit Outcome: #{oneoutcome.title}" %><br/>
                        <%= link_to  image_tag("Bin_closed.png", :style=>"border:0px") + " Delete Outcome", oneoutcome, :remote => true, :update => "outcomes_table", :confirm => 'Are you sure?', :method => :delete, :class => "tooltip_delete", :title=>"Remove Outcome: #{oneoutcome.title}" %><br/>
                        <%= render :partial => "comments/field_comments", :locals => {:section_name => "outcomes", :section_id => oneoutcome.id, :field_name => "outcomes", :study_id => oneoutcome.study_id, :project_id => params[:project_id]} %>
                    </td>
                <% end %>
                </tr>
            <% end %>

    </table>
<% else %>
    There are currently no outcomes associated with this study.
<% end %>
<br/><div id="outcome_validation_message"></div>


<script type="text/javascript">
$('.open_comments_link').bind("click", function(event) {
    var self = $(this);
    var qtip = '.qtip.ui-tooltip';

    // Create the tooltip
    self.qtip({
        overwrite: false,
        id: $(this).attr('id'),
        position:{
            my: 'top right', at: 'bottom center'
        },
        content: {
            title: {
                text: 'Item Comments',
                button: true
            },
            text: "Loading...",
            ajax: {
                url: 'get_comment_content',
                type: 'POST',
                data: {
                    div_id: $(this).attr('id')
                }
            }
        },
        show: {
            event: "click",
            ready: true,
            solo:  true
        },
        hide: {
            delay: 100,
            event: 'click',
            fixed: true
        },
        style: {
            classes: 'ui-tooltip-nav ui-tooltip-light',
            tip: false,
            width: '600'
        },
        events: {
            // Toggle an active class on each menus activator
            toggle: function(event, api) {
                api.elements.target.toggleClass('active', event.type === 'tooltipshow');
            },
            // make qtip movable on render
            render: function(event, api) {
                api.elements.tooltip.draggable();
            },
            focus: function(event, api) {
                // make sure this qtip is always on the bottom i.e. below the comment form tooltip
                event.preventDefault();
            }
        }
    });
});
</script>
