<%= form_for test_obj, :remote=>true do |f|%>
	<% if editing %>
		<h2>Editing <%= title %>: <%= test_obj.title %></h2><br/>
	<% else %>
		<h2>Create a new <%= title %></h2><br/>
	<% end %>
	<%= hidden_field_tag "extraction_form_diagnostic_test[extraction_form_id]", @extraction_form_id %>
	<%= hidden_field_tag "extraction_form_diagnostic_test[test_type]", test_obj.test_type %>

	<div class='field'>
		<label for="Diagnostic Test Title">Test Title:</label><br/>
		<%= f.text_field "title", :class => "editable_field", :tabindex => 1, :title => "Diagnostic Test Title" %>
	</div>
	<div class='field'>
		<label for="Diagnostic Test Description">Test Description</label><br/>
		<%= f.text_area "description", :cols => 50, :rows => 4, :class => "editable_field", :tabindex => 2, :title => "Diagnostic Test Description" %>
	</div>
	<div class='actions'>
		<% if editing %>
			<button type='submit' class='positive' data-disable-with="<%= ajax_wait_msg %>" tabindex="3">
				<%= image_tag "Add.png", :alt => "Add"  %>Save Edits
			</button>
		<% else %>
			<button type='submit' class='positive' data-disable-with="<%= ajax_wait_msg %>" tabindex="3">
				<%= image_tag "Add.png", :alt => "Add"  %>Save
			</button>
		<% end %>
			<button class="negative" id="close_window_button" tabindex="4">
				<%= image_tag "Cancel.png", :alt => "Cancel" %>Cancel
			</button>
	</div>

<% end %>	

<script type="text/javascript">

$("#close_window_button").bind("click", function(event){
	event.preventDefault();
	$("#new_test_modal").dialog('close');
});

</script>