<%# find out how many questions there are total for this particular list %>
<% obj_type = get_camel_caps(@model) %>
<% max_num = eval(obj_type).where(:extraction_form_id=>params[:extraction_form_id]).maximum("question_number") %>
<% max_num = max_num.nil? ? 1 : max_num %>
<% num_options = (1..max_num).to_a.collect{|x| [x,x]} %>

<%# CREATE THE LIST OF QUESTIONS AND ANSWERS JUST LIKE THEY WOULD APPEAR IN AN EXTRACTION FORM. %>
<% unless @questions.empty? %>
  <fieldset>
    <% @questions.each do |q| %>
      <legend>Question <%= q.question_number.to_s %></legend>
      <label style="font-weight: bold;" for="<%= @model + '_question_' + q.question_number.to_s + '_div' %>"><%= q.question%></label>
      <div class='field' id="<%= @model + '_question_' + q.question_number.to_s + '_div' %>">
        <%= render :inline=>create_input(q.id, @model) %>
      </div>
    <% end %>
  </fieldset>

<% else %>

  No questions specified.

<% end %>
