<!DOCTYPE html>

<html lang='en'>
    <head>
        <%= javascript_include_tag 'jquery.min',
                                   'jquery-ui-1.8.12.custom',
                                   'rails',
                                   'browser_check',
                                   'application',
                                   'navigation',
                                   'nested_form',
                                   'jquery.printelement.min',
                                   'jquery.qtip.min',
                                   'intro.min',
                                   'comments_dropdown' %>
        <%= stylesheet_link_tag "pagination_styles",
                                "jquery.qtip",
                                "ahrqstyle_new",
                                "introjs.min",
                                "bryant_form_style",
                                 :media => "screen" %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <%= csrf_meta_tag %>

        <script type='text/javascript'>assignStylesheet();</script>
        <meta charset="UTF-8">

        <%= favicon_link_tag "favicon.ico" %>

        <title>
            SRDR - Systematic Review Data Repository | <%= content_for(:title) %>
        </title>
    </head>


    <body>
        <div id="message_div"></div>
        <noscript>Your web browser does not support Javascript, or you have it turned off. Please turn on Javascript or use a Javascript-compatible web browser to take advantage of the full functionality of SRDR.</noscript> 
        <div id="page-wrap">

            <!-- THE AHRQ BANNER MARKUP -->
            <iframe src="http://ahrq_banners.general.aws.infalliblekitty.com/ahrq_head.html" height="130" width="1260" frameborder="0" scrolling="no" seemless>
                <p>Browser does not support iframes. Please update your browser to for a better viewing experience.</p>
    	    </iframe>

            <div id='inside'>
                <!-- USER LINKS -->

                <!-- SRDR BANNER MARKUP -->
                <%= render :partial=>"shared/srdr_head" %>

                <!-- THE MAIN LINKS BAR -->
                <%= render :partial=>"shared/horizontal_nav" %>

                <!-- THE BREADCRUMBS BAR -->
                <%= render :partial=>"shared/breadcrumbs" %>

                <!-- THE MEAT OF THE PAGE -->
                <%= render partial: "layouts/info_messages" %>

                <div id="container">
                    <div id="feedback_form" style="display:none">
                        <%= render :partial => "feedback_items/feedback_form" %>
                    </div>
                    <div id="questionnaire">
                        <h1>SRDR Quality Improvement Questionnaire</h1>
                    </div>
                    <%= yield %>
                </div>
                <div style="clear: both;"></div>

                <div id="footer">
                    <!-- THE AHRQ FOOTER -->
    		        <iframe src="http://ahrq_banners.general.aws.infalliblekitty.com/ahrq_foot.html" height="350" width="1260" frameborder="0" scrolling="no" seemless>
    			        <p>Browser does not support iframes. Please update your browser to for a better viewing experience.</p>
    		        </iframe>
                </div>

            </div>
        </div>
        <div id='exiting_modal' style='display:none;'>
            <h2>Exit Disclaimer</h2><br/>
            <ul class='normal_list exit_disclaimer'>
                <li>This graphic notice, <img src='/images/exit_disclaimer.gif' alt='Exit Disclaimer Logo'/>, means that you are leaving this Federal Government Web site and entering a non-Federal Web site.</li>
                <li>This external link provides additional information that is consistent with the intended purpose of a Federal site.</li>
                <li>Linking to a non-Federal site does not constitute an endorsement by the Department of Health and Human Services (HHS) or any of its employees of the sponsors or the information and products presented on the site.</li>
                <li>HHS cannot attest to the accuracy of information provided by this link.</li>
                <li>You will be subject to the destination site's privacy policy when you follow the link.</li>
            </ul><br/>
        </div>

        <script type='text/javascript'>
            <!--
            $(document).ready(function(){
                var myMenu = new SDMenu("nav-menu"); // ID of the menu element
                // Default values...
                myMenu.speed = 4;                     // Menu sliding speed (1 - 5 recomended)
                myMenu.remember = true;               // Store menu states (expanded or collapsed) in cookie and restore later
                myMenu.oneSmOnly = false;             // One expanded submenu at a time
                myMenu.markCurrent = true;            // Mark current link / page (link.href == location.href)
                myMenu.init();

                $("a.nav_active").first().addClass("nav-active");
                $("a.nav_active").first().addClass("nav-selected");


                // add a click handler to all links
                // that point to same-page targets (href="#...")
                $(".skip > li > a[href^='#']").unbind();
                $(".skip > li > a[href^='#']").click(function() {
                  // get the href attribute of the internal link
                  // then strip the first character off it (#)
                  // leaving the corresponding id attribute
                  $("#"+$(this).attr("href").slice(1)+"")
                    // give that id focus (for browsers that didn't already do so)
                    .focus()
                    // add a highlight effect to that id (comment out if not using)
                    //.effect("highlight", {}, 3000);
                });

                // add a pop-up notifier for any links that are in need of an exit disclaimer
                $(".needs_exit_disclaimer").unbind();
                $(".needs_exit_disclaimer").live("click",function(event){
                    event.preventDefault();
                    var url = $(this).attr("href");
                    $("#exiting_modal").dialog({
                        resizable: false,
                        title: "Exit Disclaimer",
                        width: 550,
                        modal: true,
                        buttons:{
                            "Return to SRDR":function(){
                                $(this).dialog("close");
                            },
                            "Continue to External Site": function(){
                                $(this).dialog("close");
                                window.open(url,"_blank");
                                //document.location.href = $(this).attr("href");
                            }
                        }
                    })
                })
            });
            -->
        </script>

        <%= javascript_include_tag 'bryant_form' %>

    </body>
</html>

